.fechar{
    position: absolute;
    cursor: pointer;
    right: 20px;
}
input.cor{
    color: #000 !important;
    background-color: #fff;
}


.btn-ver {
    position: absolute;
    right: 25px;
    top: 40px;
}

input {
    width: 100%;
    text-indent: 5px;
    border-radius: 3px;
    border-width: 1px !important;
    border-style: solid;
    border-color: rgb(169, 169, 169);
}

.custom-file-input{position: absolute !important;}

select {
	width: 100%;
    height: 36px;
    border-radius: 3px;
}

textarea {
	width: 100%;
	border-radius: 3px;
}

.sessao {
    font-weight: bold;
}

.group > select {
	width: 90%;
}


.btn-add {
	background-color: #5A6268;
	color: #ffffff !important;
	border-radius: 100%;
	text-align: center;
}

.btn-add > i {
	min-width: 22px !important;
}

div.row {
	margin-bottom: 15px;
}

.bordas {
	border-style: solid;
    border-radius: 10px;
	border-width: 1px;
	padding: 15px;
}

.emDestaque {
	color: #d20202;
	border-color: #d20202;
}

.d-print-none {
	overflow: -moz-scrollbars-none;
	-ms-overflow-style: none;
}

.d-print-none::-webkit-scrollbar { width: 0 !important }


.status {
	position: absolute;
    right: 40px;
    margin-top: -40px;
}

.space {
    margin-bottom: 15px
}

.areaAtiva {
    color: #d20202;
}

.linhaAtiva{
    border-color: #d20202 !important;
}

.titulo-acoes{
    background-color: #ffffff;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: bold;
    margin-left: 80px;
}

.erro {
	border-color: red;
}

.tituloErro {
    color: red;
}

hr {
    border-top: 2px solid rgba(0,0,0,.1);
}

select:disabled {
    background-color: rgb(235, 235, 228)
}

input:disabled {
    background-color: rgb(235, 235, 228)
}

.disabled {
    background-color: rgb(235, 235, 228)
}

.smr-delete {
	font-size: 30px !important;
    line-height: 100px !important;
    color: red !important;
    cursor: pointer;
}

.smr-delete-doc {
	font-size: 30px !important;
    line-height: 50px !important;
    color: red !important;
    cursor: pointer;
}

.smr-delete-cot {
	font-size: 30px !important;
    line-height: 50px !important;
    color: red !important;
    cursor: pointer;
}

.smr-download-doc {
	font-size: 30px !important;
    line-height: 50px !important;
    color: green !important;
    cursor: pointer;
}

.smr-download-cot {
	font-size: 30px !important;
    line-height: 50px !important;
    color: green !important;
    cursor: pointer;
}

.next {
  position: absolute;
  right: -25px;
  bottom: 950px;
  background: gray;
  color: lightgray !important;
  border-radius: 50%;
  text-align: center;
  padding-top: 12px;
  font-size: 30px;
  width: 56px;
  height: 56px;
}

.previous {
  position: absolute;
  left: -30px;
  bottom: 950px;
  background: gray;
  color: lightgray !important;
  border-radius: 50%;
  text-align: center;
  padding-top: 12px;
  font-size: 30px;
  width: 56px;
  height: 56px;
}

.celula {
  border: solid 1px;
  padding: 5px;
}

.tabela-historico {
  position: absolute;
  left: 41%;
  top: 30px;
}

.hide-on-screen {display:none;}
.yesPrint, .noPrint {display:block;}

@media print {
   .hide-on-screen {display:block;}
   .noPrint {display:none;}
}

.fornecedorautocomplete {
  border: solid 1px rgb(169, 169, 169) !important;
  line-height: 32px  !important;
  margin-top: -20px !important;
}



