<div id="content_wrapper" class="fullWidth1-wrapper">
  <div class="content">
    <header class="header-wrapper header-sm d-print-none">
      <h1>Solicitação</h1>
    </header>
    <div class="content-body">
      <div class="card card-datatable">
        <header class="card-header p-30">
          <h2 class="card-title">
            <a
              [routerLink]="['/timeline/' + solicitacao.id]"
              class="icon edit-product d-print-none"
              *ngIf="solicitacao"
            >
              <i class="zmdi zmdi-time-restore"></i>
            </a>
            {{ title }}
          </h2>
          <span class="status">
            <img
              *ngIf="solicitacao?.img"
              class="max-w-50 radius"
              [src]="'/assets/img/' + solicitacao.img"
              #tooltip="matTooltip"
              [matTooltip]="getTooltip()"
            />
          </span>
        </header>
        <hr />
        <div class="card-block p-0 col-sm-12">
          <div class="row">
            <div class="col-sm-12" style="line-height: 2;">
              <form novalidate *ngIf="render" [formGroup]="solicitacaoForm">
                <div class="row">
                  <div class="col-sm-12" style="display: inline-flex">
                    <div class="col-sm-8 col-xs-12" style="padding-top: 30px">
                      <mat-checkbox
                        style="margin-left: 30px;"
                        formControlName="urgente"
                      ></mat-checkbox
                      ><span style="padding-left: 10px">Urgente</span>
                    </div>

                    <div
                      class="col-sm-4 col-xs-12"
                      *ngIf="usuario.role == 'administrador'"
                      style="right: 0px"
                    >
                      <label class="m-0 p-0">Alterar Prazo</label>
                      <input type="date" name="prazo" formControlName="prazo" />
                    </div>
                  </div>
                </div>

                <div class="col-sm-12">
                  <div class="col-sm-12">
                    <div class="row">
                      <div class="col-sm-12">
                        <div class="row">
                          <div class="col-sm-6">
                            <span class="group">
                              <div
                                [class.tituloErro]="
                                  solicitacaoForm.get('material').status ===
                                    'INVALID' &&
                                  solicitacaoForm.get('material').touched
                                "
                              >
                                Categoria
                              </div>
                              <select
                                formControlName="material"
                                [class.erro]="
                                  solicitacaoForm.get('material').status ===
                                    'INVALID' &&
                                  solicitacaoForm.get('material').touched
                                "
                              >
                                <option ng-value="undefined" disabled>
                                  Escolha um tipo de material
                                </option>
                                <option
                                  *ngFor="let tipo of tiposMateriais"
                                  [value]="tipo.tipo"
                                >
                                  {{ tipo.tipo }}
                                </option>
                              </select>
                            </span>
                            <a
                              class="btn-add d-print-none"
                              (click)="fullScreenModal.show()"
                            >
                              <i class="zmdi zmdi-plus"></i>
                            </a>
                          </div>
                          <div class="col-sm-6">
                            <div
                              [class.tituloErro]="
                                solicitacaoForm.get('tipoDeMaterial').status ===
                                  'INVALID' &&
                                solicitacaoForm.get('tipoDeMaterial').touched
                              "
                            >
                              Tipo de Requisição
                            </div>
                            <mat-radio-group
                              class="m-t-5"
                              formControlName="tipoDeMaterial"
                              #tipoDeMaterial
                              [class.erro]="
                                solicitacaoForm.get('tipoDeMaterial').status ===
                                  'INVALID' &&
                                solicitacaoForm.get('tipoDeMaterial').touched
                              "
                              (change)="changeType()"
                            >
                              <mat-radio-button
                                class="m-r-10"
                                [value]="'RAS'"
                                [class.tituloErro]="
                                  solicitacaoForm.get('tipoDeMaterial')
                                    .status === 'INVALID' &&
                                  solicitacaoForm.get('tipoDeMaterial').touched
                                "
                                #tooltip="matTooltip"
                                [matTooltip]="tooltipRAS"
                              >
                                RAS
                              </mat-radio-button>
                              <mat-radio-button
                                class="m-r-10"
                                [value]="'GRS'"
                                [class.tituloErro]="
                                  solicitacaoForm.get('tipoDeMaterial')
                                    .status === 'INVALID' &&
                                  solicitacaoForm.get('tipoDeMaterial').touched
                                "
                                #tooltip="matTooltip"
                                [matTooltip]="tooltipGRS"
                              >
                                GRS
                              </mat-radio-button>
                            </mat-radio-group>
                          </div>
                        </div>
                      </div>

                      <div class="col-sm-12">
                        <label
                          for=""
                          class="m-0 p-0"
                          [class.tituloErro]="
                            solicitacaoForm.get('escopo').status ===
                              'INVALID' && solicitacaoForm.get('escopo').touched
                          "
                          >Descrição e Escopo</label
                        >
                        <br />
                        <textarea
                          formControlName="escopo"
                          [class.erro]="
                            solicitacaoForm.get('escopo').status ===
                              'INVALID' && solicitacaoForm.get('escopo').touched
                          "
                        ></textarea>
                      </div>
                    </div>
                  </div>

                  <div
                    class="row"
                    *ngIf="
                      solicitacaoForm.get('tipoDeMaterial').value === 'RAS'
                    "
                    style="margin-right: 15px"
                  >
                    <div class="col-sm-12">
                      <div class="row">
                        <hr style="width: 100%" />
                        <div
                          class="col-sm-11"
                          style="margin-top: -30px; text-align: center"
                        >
                          <span
                            style="background-color: #ffffff; padding-left: 15px; padding-right: 15px; font-weight: bold;"
                            >RAS</span
                          >
                        </div>
                      </div>
                    </div>
                    <div class="row" style="margin-left: 15px;">
                      <div class="col-sm-12">
                        <label
                          class="m-0 p-0"
                          [class.tituloErro]="
                            solicitacaoForm.get('reembolso').status ===
                              'INVALID' &&
                            solicitacaoForm.get('reembolso').touched
                          "
                        >
                          O valor será reembolsado pelo cliente?
                        </label>
                        <mat-radio-group
                          class="m-t-5"
                          formControlName="reembolso"
                          #tipoDeMaterial
                          [class.erro]="
                            solicitacaoForm.get('reembolso').status ===
                              'INVALID' &&
                            solicitacaoForm.get('reembolso').touched
                          "
                        >
                          <mat-radio-button
                            class="m-r-10"
                            [value]="true"
                            [class.tituloErro]="
                              solicitacaoForm.get('tipoDeMaterial').status ===
                                'INVALID' &&
                              solicitacaoForm.get('tipoDeMaterial').touched
                            "
                          >
                            Sim
                          </mat-radio-button>
                          <mat-radio-button
                            class="m-r-10"
                            [value]="false"
                            [class.tituloErro]="
                              solicitacaoForm.get('tipoDeMaterial').status ===
                                'INVALID' &&
                              solicitacaoForm.get('tipoDeMaterial').touched
                            "
                          >
                            Não
                          </mat-radio-button>
                        </mat-radio-group>
                      </div>
                      <div class="col-sm-12">
                        <label
                          class="m-0 p-0"
                          [class.tituloErro]="
                            solicitacaoForm.get('descProjeto').status ===
                              'INVALID' &&
                            solicitacaoForm.get('descProjeto').touched
                          "
                          >Descrição do Projeto</label
                        >
                        <br />
                        <textarea
                          formControlName="descProjeto"
                          [class.erro]="
                            solicitacaoForm.get('descProjeto').status ===
                              'INVALID' &&
                            solicitacaoForm.get('descProjeto').touched
                          "
                        ></textarea>
                      </div>
                      <div class="col-sm-12">
                        <label
                          class="m-0 p-0"
                          [class.tituloErro]="
                            solicitacaoForm.get('justificativa').status ===
                              'INVALID' &&
                            solicitacaoForm.get('justificativa').touched
                          "
                          >Justificativa do Projeto e Custo (descrever payback)</label
                        >
                        <br />
                        <textarea
                          formControlName="justificativa"
                          [class.erro]="
                            solicitacaoForm.get('justificativa').status ===
                              'INVALID' &&
                            solicitacaoForm.get('justificativa').touched
                          "
                        ></textarea>
                      </div>
                      <div class="col-sm-4">
                        <span class="group">
                          <div
                            [class.tituloErro]="
                              solicitacaoForm.get('categoriaBudget').status ===
                                'INVALID' &&
                              solicitacaoForm.get('categoriaBudget').touched
                            "
                          >
                            Categoria do Budget
                          </div>
                          <select
                            formControlName="categoriaBudget"
                            [class.erro]="
                              solicitacaoForm.get('categoriaBudget').status ===
                                'INVALID' &&
                              solicitacaoForm.get('categoriaBudget').touched
                            "
                          >
                            <option ng-value="undefined" disabled>
                              Escolha uma categoria de Budget
                            </option>
                            <option
                              *ngFor="let cat of categorias"
                              [value]="cat.nome"
                            >
                              {{ cat.nome }}
                            </option>
                          </select>
                        </span>
                        <a
                          class="btn-add d-print-none"
                          (click)="budgetModal.show()"
                        >
                          <i class="zmdi zmdi-plus"></i>
                        </a>
                      </div>
                      <div class="col-sm-4">
                        <span class="group">
                          <div
                            [class.tituloErro]="
                              solicitacaoForm.get('cliente').status ===
                                'INVALID' &&
                              solicitacaoForm.get('cliente').touched
                            "
                          >
                            Cliente
                          </div>
                          <select
                            formControlName="cliente"
                            [class.erro]="
                              solicitacaoForm.get('cliente').status ===
                                'INVALID' &&
                              solicitacaoForm.get('cliente').touched
                            "
                            (change)="updateProgram()"
                          >
                            <option ng-value="undefined" disabled>
                              Escolha um Cliente
                            </option>
                            <option
                              *ngFor="let cliente of clientes"
                              [value]="cliente.nome"
                            >
                              {{ cliente.nome }}
                            </option>
                          </select>
                        </span>
                        <a
                          class="btn-add d-print-none"
                          (click)="fullScreenModal.show()"
                        >
                          <i class="zmdi zmdi-plus"></i>
                        </a>
                      </div>
                      <div class="col-sm-4">
                        <span class="group">
                          <div
                            [class.tituloErro]="
                              solicitacaoForm.get('programa').status ===
                                'INVALID' &&
                              solicitacaoForm.get('programa').touched
                            "
                          >
                            Programa
                          </div>
                          <select
                            formControlName="programa"
                            [class.erro]="
                              solicitacaoForm.get('programa').status ===
                                'INVALID' &&
                              solicitacaoForm.get('programa').touched
                            "
                          >
                            <option ng-value="undefined">
                              Escolha Programa
                            </option>
                            <option
                              *ngFor="let programa of programas"
                              [value]="programa.nome"
                            >
                              {{ programa }}
                            </option>
                          </select>
                        </span>
                        <a
                          class="btn-add d-print-none"
                          (click)="fullScreenModal.show()"
                        >
                          <i class="zmdi zmdi-plus"></i>
                        </a>
                      </div>

                      <div class="col-sm-4">
                        <label
                          class="m-0 p-0"
                          [class.tituloErro]="
                            solicitacaoForm.get('inicioProjeto').status ===
                              'INVALID' &&
                            solicitacaoForm.get('inicioProjeto').touched
                          "
                        >
                          Data do Início do Projeto
                        </label>
                        <input
                          formControlName="inicioProjeto"
                          type="date"
                          [class.erro]="
                            solicitacaoForm.get('inicioProjeto').status ===
                              'INVALID' &&
                            solicitacaoForm.get('inicioProjeto').touched
                          "
                        />
                      </div>
                      <div class="col-sm-4">
                        <label
                          class="m-0 p-0"
                          [class.tituloErro]="
                            solicitacaoForm.get('ppap').status === 'INVALID' &&
                            solicitacaoForm.get('ppap').touched
                          "
                        >
                          Data de PPAP
                        </label>
                        <input
                          formControlName="ppap"
                          type="date"
                          [class.erro]="
                            solicitacaoForm.get('ppap').status === 'INVALID' &&
                            solicitacaoForm.get('ppap').touched
                          "
                        />
                      </div>
                      <div class="col-sm-4">
                        <label
                          class="m-0 p-0"
                          [class.tituloErro]="
                            solicitacaoForm.get('sop').status === 'INVALID' &&
                            solicitacaoForm.get('sop').touched
                          "
                        >
                          Data SOP
                        </label>
                        <input
                          formControlName="sop"
                          type="date"
                          [class.erro]="
                            solicitacaoForm.get('sop').status === 'INVALID' &&
                            solicitacaoForm.get('sop').touched
                          "
                        />
                      </div>
                    </div>
                  </div>
                  <div class="row" formArrayName="orcamentos">
                    <div class="col-sm-12">
                      <div class="row">
                        <hr style="width: 100%" />
                        <div
                          class="col-sm-11"
                          style="margin-top: -30px; text-align: center"
                        >
                          <span
                            style="background-color: #ffffff; padding-left: 15px; padding-right: 15px; font-weight: bold;"
                            >Orçamento</span
                          >
                        </div>
                        <div class="col-sm-1">
                          <button
                            mat-ripple
                            class="btn btn-fab  btn-primary d-print-none"
                            style="margin-top: -60px"
                            (click)="addOrcamento()"
                            *ngIf="
                              !solicitacao ||
                              (solicitacao.alt == 'Em Fila' &&
                                usuario.nome == solicitacao.solicitante)
                            "
                          >
                            <i class="zmdi zmdi-plus"></i>
                          </button>
                        </div>
                      </div>
                    </div>
                    <div
                      class="row"
                      style="margin-left: 15px;"
                      *ngFor="
                        let item of orcamentosFormArray.controls;
                        let i = index
                      "
                      [formGroupName]="i"
                    >
                      <div class="col-sm-5">
                        <label
                          class="m-0 p-0"
                          [class.tituloErro]="
                            item.get('fornecedor').status === 'INVALID' &&
                            item.get('fornecedor').touched
                          "
                          >Fornecedor Indicado</label
                        >
                        <span class="group">
                          <mat-form-field>
                            <input
                              type="text"
                              matInput
                              formControlName="fornecedor"
                              [matAutocomplete]="fornecedorauto"
                              class="fornecedorautocomplete"
                            />
                          </mat-form-field>

                          <mat-autocomplete
                            #fornecedorauto="matAutocomplete"
                            [displayWith]="displayFn"
                          >
                            <mat-option
                              *ngFor="let tipo of filteredFornecedores | async"
                              [value]="tipo.id"
                              >{{ tipo.nome }}</mat-option
                            >
                          </mat-autocomplete>
                          <!--<select
                            formControlName="fornecedor"
                            [class.erro]="
                              item.get('fornecedor').status === 'INVALID' &&
                              item.get('fornecedor').touched
                            "
                          >
                            <option ng-value="undefined" disabled>
                              Escolha um Fornecedor
                            </option>
                            <option
                              *ngFor="let tipo of fornecedores"
                              [value]="tipo.id"
                            >
                              {{ tipo.nome }}
                            </option>
                          </select>-->
                        </span>
                        <a
                          class="btn-add d-print-none"
                          (click)="materialModal.show()"
                        >
                          <i class="zmdi zmdi-plus"></i>
                        </a>
                      </div>
                      <div class="col-sm-3">
                        <label
                          for="moeda"
                          class="m-0 p-0"
                          [class.tituloErro]="
                            item.get('moeda').status === 'INVALID' &&
                            item.get('moeda').touched
                          "
                          >Moeda</label
                        >
                        <select
                          formControlName="moeda"
                          (change)="changeMoeda($event.target.value)"
                          [class.erro]="
                            item.get('moeda').status === 'INVALID' &&
                            item.get('moeda').touched
                          "
                        >
                          <option ng-value="undefined" disabled>
                            Escolha a moeda
                          </option>
                          <option *ngFor="let tipo of moedas" [value]="tipo.id">
                            {{ tipo.moeda }}
                          </option>
                        </select>
                      </div>
                      <div class="col-sm-3">
                        <label
                          for="valorReferencia"
                          class="m-0 p-0"
                          [class.tituloErro]="
                            item.get('valor').status === 'INVALID' &&
                            item.get('valor').touched
                          "
                          >Valor de referência</label
                        >
                        <input
                          type="text"
                          name="valorReferencia"
                          formControlName="valor"
                          currencyMask
                          [options]="moedaOption"
                          style="direction:rtl;"
                          [class.erro]="
                            item.get('valor').status === 'INVALID' &&
                            item.get('valor').touched
                          "
                        />
                      </div>
                      <div class="col-sm-1 text-center">
                        <a
                          class="smr-delete"
                          (click)="removeOrcamento(i)"
                          *ngIf="item.enabled"
                        >
                          <i class="zmdi zmdi-delete"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="row" style="margin-left:15px;">
                    <div class="col-sm-12" [formGroup]="solicitacaoForm">
                      <label
                        class="m-0 p-0 col-sm-12"
                        [class.tituloErro]="
                          solicitacaoForm.get('exclusivo').status ===
                            'INVALID' &&
                          solicitacaoForm.get('exclusivo').touched
                        "
                        >Fornecedor exclusivo?</label
                      >
                      <mat-radio-group
                        class="m-t-5"
                        formControlName="exclusivo"
                        [class.erro]="
                          solicitacaoForm.get('exclusivo').status ===
                            'INVALID' &&
                          solicitacaoForm.get('exclusivo').touched
                        "
                      >
                        <mat-radio-button
                          class="m-r-10"
                          [value]="true"
                          name="checkbox2"
                          [class.tituloErro]="
                            solicitacaoForm.get('exclusivo').status ===
                              'INVALID' &&
                            solicitacaoForm.get('exclusivo').touched
                          "
                        >
                          Sim
                        </mat-radio-button>
                        <mat-radio-button
                          class="m-r-10"
                          [value]="false"
                          name="checkbox2"
                          [class.tituloErro]="
                            solicitacaoForm.get('exclusivo').status ===
                              'INVALID' &&
                            solicitacaoForm.get('exclusivo').touched
                          "
                        >
                          Não
                        </mat-radio-button>
                      </mat-radio-group>
                    </div>
                  </div>
                  <div class="row" formArrayName="produtos">
                    <div class="col-sm-12">
                      <div class="row">
                        <hr style="width: 100%" />
                        <div
                          class="col-sm-11"
                          style="margin-top: -30px; text-align: center"
                        >
                          <span
                            style="background-color: #ffffff; padding-left: 15px; padding-right: 15px; font-weight: bold;"
                            >Produtos / Serviços</span
                          >
                        </div>
                        <div class="col-sm-1">
                          <button
                            mat-ripple
                            class="btn btn-fab btn-primary d-print-none"
                            style="margin-top: -60px"
                            (click)="addProduto()"
                            *ngIf="
                              !solicitacao ||
                              (solicitacao.alt == 'Em Fila' &&
                                usuario.nome == solicitacao.solicitante)
                            "
                          >
                            <i class="zmdi zmdi-plus"></i>
                          </button>
                        </div>
                      </div>
                    </div>
                    <div
                      class="row"
                      style="margin-left: 15px;"
                      *ngFor="
                        let item of produtosFormArray.controls;
                        let i = index
                      "
                      [formGroupName]="i"
                    >
                      <div class="col-sm-5">
                        <label
                          for="descricaoCompra"
                          class="m-0 p-0"
                          [class.tituloErro]="
                            item.get('descricao').status === 'INVALID' &&
                            item.get('descricao').touched
                          "
                          >Descrição do produto/serviço</label
                        >
                        <input
                          name="descricaoCompra"
                          formControlName="descricao"
                          [class.erro]="
                            item.get('descricao').status === 'INVALID' &&
                            item.get('descricao').touched
                          "
                        />
                      </div>
                      <div class="col-sm-2">
                        <label
                          for="qntCompra"
                          class="m-0 p-0"
                          [class.tituloErro]="
                            item.get('quantidade').status === 'INVALID' &&
                            item.get('quantidade').touched
                          "
                          >Quantidade</label
                        >
                        <input
                          type="number"
                          name="qntCompra"
                          formControlName="quantidade"
                          [class.erro]="
                            item.get('quantidade').status === 'INVALID' &&
                            item.get('quantidade').touched
                          "
                        />
                      </div>
                      <div class="col-sm-2">
                        <label
                          for="medidaCompra"
                          class="m-0 p-0"
                          [class.tituloErro]="
                            item.get('unidadeMedida').status === 'INVALID' &&
                            item.get('unidadeMedida').touched
                          "
                          >Unidade de medida</label
                        >
                        <select
                          formControlName="unidadeMedida"
                          [class.erro]="
                            item.get('unidadeMedida').status === 'INVALID' &&
                            item.get('unidadeMedida').touched
                          "
                        >
                          <option ng-value="undefined" disabled>
                            Escolha a unidade de medida
                          </option>
                          <option
                            *ngFor="let tipo of unidadesMedida"
                            [value]="tipo.id"
                          >
                            {{ tipo.descricao }}
                          </option>
                        </select>
                      </div>
                      <div class="col-sm-2">
                        <label
                          for="dataDesejada"
                          class="m-0 p-0"
                          [class.tituloErro]="
                            item.get('dataDesejada').status === 'INVALID' &&
                            item.get('dataDesejada').touched
                          "
                          >Data Desejada</label
                        >
                        <input
                          type="date"
                          name="dataDesejada"
                          formControlName="dataDesejada"
                          [class.erro]="
                            item.get('dataDesejada').status === 'INVALID' &&
                            item.get('dataDesejada').touched
                          "
                        />
                      </div>
                      <div class="col-sm-1 text-center">
                        <a
                          class="smr-delete"
                          (click)="removeProduto(i)"
                          *ngIf="!item.disabled"
                        >
                          <i class="zmdi zmdi-delete"></i>
                        </a>
                      </div>
                    </div>
                  </div>

                  <div class="row" formArrayName="documentos">
                    <div class="col-sm-12">
                      <div class="row">
                        <hr style="width: 100%" />
                        <div
                          class="col-sm-11"
                          style="margin-top: -30px; text-align: center"
                        >
                          <span
                            style="background-color: #ffffff; padding-left: 15px; padding-right: 15px; font-weight: bold;"
                            >Documentos</span
                          >
                        </div>
                        <div class="col-sm-1">
                          <button
                            mat-ripple
                            class="btn btn-fab btn-primary d-print-none"
                            style="margin-top: -60px"
                            (click)="addDocumento()"
                            *ngIf="
                              !solicitacao ||
                              (solicitacao.alt == 'Em Fila' &&
                                usuario.nome == solicitacao.solicitante)
                            "
                          >
                            <i class="zmdi zmdi-plus"></i>
                          </button>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-12" [formGroup]="solicitacaoForm">
                      <div class="col-sm-12">
                        <mat-checkbox
                          class="example-margin"
                          formControlName="semDocumento"
                        >
                          Selecionar caso não haja nenhum documento para ser
                          anexado</mat-checkbox
                        >
                      </div>
                    </div>

                    <div
                      class="col-sm-12"
                      *ngFor="
                        let item of documentosFormArray.controls;
                        let i = index
                      "
                      [formGroupName]="i"
                    >
                      <div
                        class="col-sm-12"
                        style="margin-bottom: 10px; display: inline-flex;"
                      >
                        <div class="custom-file col-sm-10">
                          <input
                            type="file"
                            class="custom-file-input"
                            name="example-file-input-custom"
                            (change)="
                              handleFileInput($event.target.files[0], i)
                            "
                            [disabled]="item.disabled"
                          />
                          <label
                            class="custom-file-label"
                            [class.disabled]="item.disabled"
                          >
                            <span style="font-size: 12px">{{
                              item.get("nome").value
                            }}</span>
                          </label>
                        </div>
                        <div class="col-sm-1 text-center">
                          <a
                            target="_blank"
                            class="smr-download-doc"
                            [href]="item.get('endereco').value"
                            *ngIf="item.get('endereco').value"
                            ><i class="zmdi zmdi-download"></i
                          ></a>
                        </div>

                        <div class="col-sm-1 text-center">
                          <a
                            class="smr-delete-doc"
                            (click)="removeDocumento(i)"
                            *ngIf="!item.disabled"
                            ><i class="zmdi zmdi-delete"></i
                          ></a>
                        </div>
                      </div>
                    </div>
                    <small style="margin-left:30px; color: #5A6268;">
                      Carregue aqui os arquivos como: orçamento, ficha técnica,
                      descritivo do escopo, etc. <br />
                      Extensões de arquivos permitidos: doc, docx, xls, xlsx,
                      ppt, pptx, jpg, png e pdf.</small
                    >
                  </div>

                  <div class="row">
                    <hr style="width: 100%" />
                    <div
                      class="col-sm-12"
                      style="margin-top: -30px; text-align: center"
                    >
                      <span
                        style="background-color: #ffffff; padding-left: 15px; padding-right: 15px; font-weight: bold;"
                        >Fluxos e Prazos</span
                      >
                    </div>
                    <div class="col-sm-12">
                      <div class="col-sm-12">
                        <div
                          class="row"
                          style="margin-top: 30px;margin-left: 5%;"
                        >
                          <div
                            class="col-md-5 bordas"
                            [class.emDestaque]="
                              solicitacaoForm.get('tipoDeMaterial').value ==
                              'GRS'
                            "
                            [style.opacity]="
                              solicitacaoForm.get('tipoDeMaterial').value !=
                              'GRS'
                                ? 0.5
                                : 1
                            "
                          >
                            <div class="row">
                              <div
                                class="col-sm-12"
                                style=" text-align: center; margin-top: -30px;"
                              >
                                <span
                                  style="background-color: #ffffff; padding-left: 15px; padding-right: 15px;"
                                  >GRS</span
                                >
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-sm-8 ">Aceite da Solicitação</div>
                              <div class="col-sm-1">
                                <i class="zmdi zmdi-arrow-right"></i>
                              </div>
                              <div class="col-sm-3 ">1 dia útil</div>
                            </div>
                            <hr style="width: 100%" />
                            <div class="row">
                              <div class="col-sm-8 ">
                                Apresentação da(s) cotação(s)
                              </div>
                              <div class="col-sm-1">
                                <i class="zmdi zmdi-arrow-right"></i>
                              </div>
                              <div class="col-sm-3 ">5 dias úteis</div>
                            </div>
                            <hr style="width: 100%" />
                            <div class="row">
                              <div class="col-sm-8 ">
                                Emissão do PO# e envio ao fornecedor
                              </div>
                              <div class="col-sm-1">
                                <i class="zmdi zmdi-arrow-right"></i>
                              </div>
                              <div class="col-sm-3 ">1 dia útil</div>
                            </div>
                          </div>
                          <div
                            class="col-md-5 bordas offset-md-1"
                            [class.emDestaque]="
                              solicitacaoForm.get('tipoDeMaterial').value ==
                              'RAS'
                            "
                            [style.opacity]="
                              solicitacaoForm.get('tipoDeMaterial').value !=
                              'RAS'
                                ? 0.5
                                : 1
                            "
                          >
                            <div class="row">
                              <div
                                class="col-sm-12"
                                style=" text-align: center; margin-top: -30px;"
                              >
                                <span
                                  style="background-color: #ffffff; padding-left: 15px; padding-right: 15px;"
                                  >RAS</span
                                >
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-sm-8 ">Aceite da Solicitação</div>
                              <div class="col-sm-1">
                                <i class="zmdi zmdi-arrow-right"></i>
                              </div>
                              <div class="col-sm-3 ">1 dia útil</div>
                            </div>
                            <hr style="width: 100%" />
                            <div class="row">
                              <div class="col-sm-8 ">
                                Apresentação da(s) cotação(s)
                              </div>
                              <div class="col-sm-1">
                                <i class="zmdi zmdi-arrow-right"></i>
                              </div>
                              <div class="col-sm-3 ">15 dias úteis</div>
                            </div>
                            <hr style="width: 100%" />
                            <div class="row">
                              <div class="col-sm-8 ">
                                Emissão do PO# e envio ao fornecedor
                              </div>
                              <div class="col-sm-1">
                                <i class="zmdi zmdi-arrow-right"></i>
                              </div>
                              <div class="col-sm-3 ">1 dia útil</div>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-sm-11">
                            <span>
                              <small>
                                * Todo esse fluxo e processo será executado por
                                Compras, em caso de exceções, haverá uma
                                notificação do comprador no aceite da
                                Solicitação.
                              </small>
                              <br />
                              Caso o tempo necessário não possa ser respeitado,
                              anexar aprovação com aceite do Gerente de Área
                            </span>
                            <div class="custom-file col-sm-10">
                              <div class="col-sm-10">
                                <input
                                  type="file"
                                  class="custom-file-input"
                                  name="example-file-input-custom"
                                  (change)="
                                    handleAceite($event.target.files[0])
                                  "
                                  [disabled]="
                                    solicitacaoForm.get('aceite').disabled
                                  "
                                />
                              </div>

                              <small style="margin-left:-15px;color: #5A6268;"
                                >Extensões de arquivos permitidos: jpg, png e
                                pdf.</small
                              >
                              <label
                                class="custom-file-label"
                                [class.disabled]="
                                  solicitacaoForm.get('aceite').disabled
                                "
                              >
                                <span style="font-size: 12px">{{
                                  solicitacaoForm.get("aceite").value
                                }}</span>
                              </label>
                            </div>

                            <!-- <div class="col-sm-1 text-center"><a class="smr-delete-doc"
                                                                (click)="removeDocumento(i)" *ngIf="!item.disabled"><i
                                                                    class="zmdi zmdi-delete"></i></a></div>-->
                          </div>
                          <div class="col-sm-1" style="padding-top:55px">
                            <a
                              class="smr-download-doc"
                              [href]="solicitacaoForm.get('aceite').value"
                              *ngIf="solicitacaoForm.get('aceite').value"
                              ><i class="zmdi zmdi-download"></i
                            ></a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row" *ngIf="solicitacao?.alt">
                    <div class="col-sm-12" [formGroup]="solicitacaoForm">
                      <div class="row">
                        <hr
                          [ngClass]="{
                            linhaAtiva: solicitacao.alt == 'Em Fila'
                          }"
                          style="width: 100%"
                        />
                        <div
                          class="col-sm-12"
                          style="margin-top: -30px; text-align: center"
                        >
                          <span
                            [ngClass]="{
                              areaAtiva: solicitacao.alt == 'Em Fila'
                            }"
                            style="background-color: #ffffff; padding-left: 15px; padding-right: 15px; font-weight: bold;"
                            >Observações</span
                          >
                        </div>
                      </div>
                      <textarea
                        formControlName="observacoes"
                        #observacoes
                      ></textarea>
                    </div>
                  </div>

                  <div
                    class="row"
                    *ngIf="
                      solicitacao &&
                      (solicitacao.alt == 'Em Cotação' ||
                        solicitacao.alt == 'Negociado' ||
                        solicitacao.alt == 'PO Emitido' ||
                        solicitacao.alt == 'Recebido')
                    "
                  >
                    <div class="col-sm-12">
                      <div class="row">
                        <hr
                          [ngClass]="{
                            linhaAtiva: solicitacao.alt == 'Em Cotação'
                          }"
                          style="width: 100%"
                        />
                        <div
                          class="col-sm-11"
                          style="margin-top: -30px; text-align: center"
                        >
                          <span
                            [ngClass]="{
                              areaAtiva: solicitacao.alt == 'Em Cotação'
                            }"
                            class="titulo-acoes"
                            >Cotações</span
                          >
                        </div>
                        <div class="col-sm-1">
                          <button
                            mat-ripple
                            class="btn btn-fab btn-primary d-print-none"
                            style="margin-top: -60px"
                            (click)="addCotacao()"
                            *ngIf="
                              solicitacao && solicitacao.alt == 'Em Cotação'
                            "
                          >
                            <i class="zmdi zmdi-plus"></i>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div
                    class="row"
                    *ngIf="
                      solicitacao &&
                      (solicitacao.alt == 'Em Cotação' ||
                        solicitacao.alt == 'Negociado' ||
                        solicitacao.alt == 'PO Emitido' ||
                        solicitacao.alt == 'Recebido')
                    "
                  >
                    <div class="col-sm-12">
                      <div class="row">
                        <div class="col-sm-6" style="margin-bottom: 5px;">
                          <label class="m-0 p-0">Valor Total Inicial</label>
                          <input
                            type="text"
                            currencyMask
                            [options]="moedaOption"
                            style="direction:rtl;"
                            [class.erro]="
                              (solicitacaoForm.get('valorInicial').status ===
                                'INVALID' &&
                                solicitacaoForm.get('valorInicial').touched) ||
                              (solicitacaoForm.get('valorInicial').value == 0 &&
                                solicitacaoForm.get('valorInicial').touched)
                            "
                            formControlName="valorInicial"
                          />
                          <label class="m-0 p-0">Valor Total Negociado</label>
                          <input
                            type="text"
                            currencyMask
                            [options]="moedaOption"
                            style="direction:rtl;"
                            [class.erro]="
                              (solicitacaoForm.get('valorNegociado').status ===
                                'INVALID' &&
                                solicitacaoForm.get('valorNegociado')
                                  .touched) ||
                              (solicitacaoForm.get('valorNegociado').value ==
                                0 &&
                                solicitacaoForm.get('valorInicial').touched)
                            "
                            formControlName="valorNegociado"
                          />
                          <label class="m-0 p-0">Fornecedor Escolhido</label>
                          <mat-form-field>
                            <input
                              type="text"
                              matInput
                              formControlName="fornecedorEscolhido"
                              [matAutocomplete]="fornecedorescolhidoauto"
                              class="fornecedorautocomplete"
                            />
                          </mat-form-field>

                          <mat-autocomplete
                            #fornecedorescolhidoauto="matAutocomplete"
                            [displayWith]="displayFn"
                          >
                            <mat-option
                              *ngFor="let tipo of filteredFornecedores | async"
                              [value]="tipo.id"
                              >{{ tipo.nome }}</mat-option
                            >
                          </mat-autocomplete>
                          <!--<select
                            formControlName="fornecedorEscolhido"
                            [class.erro]="
                              solicitacaoForm.get('fornecedorEscolhido')
                                .status === 'INVALID' &&
                              solicitacaoForm.get('fornecedorEscolhido').touched
                            "
                          >
                            <option ng-value="undefined" disabled>
                              Escolha um Fornecedor
                            </option>
                            <option
                              *ngFor="let tipo of fornecedores"
                              [value]="tipo.id"
                            >
                              {{ tipo.nome }}
                            </option>
                          </select>-->
                        </div>
                        <div class="col-sm-6" style="margin-bottom: 5px;">
                          <div formArrayName="cotacoes">
                            <label for="qntCompra" class="m-0 p-0"
                              >Cotações</label
                            >
                            <div
                              class="custom-file space "
                              *ngFor="
                                let item of cotacoesFormArray.controls;
                                let i = index
                              "
                              [formGroupName]="i"
                              style="display: inline-flex;"
                            >
                              <div class="col-sm-8">
                                <input
                                  type="file"
                                  class="custom-file-input"
                                  (change)="
                                    handleOrcamentoInput(
                                      $event.target.files[0],
                                      i
                                    )
                                  "
                                  [disabled]="item.disabled"
                                />
                                <label
                                  class="custom-file-label"
                                  [class.disabled]="item.disabled"

                                >
                                  <span style="font-size: 12px"
                                    >{{
                                      item.get("nome")
                                        ? item.get("nome").value
                                        : ""
                                    }}
                                  </span>
                                </label>
                              </div>
                              <div class="col-sm-1 text-center">
                                <a
                                  class="smr-download-cot"
                                  target="_blank"
                                  [href]="item.get('endereco').value"
                                  *ngIf="item.get('endereco').value"
                                  ><i class="zmdi zmdi-download"></i
                                ></a>
                              </div>

                              <div class="col-sm-1 text-center">
                                <a
                                  class="smr-delete-cot"
                                  (click)="removeCotacao(i)"
                                  ><i class="zmdi zmdi-delete"></i
                                ></a>
                              </div>
                            </div>
                          </div>
                          <small style="color: #5A6268;"
                            >Extensões de arquivos permitidos: jpg, png e
                            pdf.</small
                          >
                        </div>
                      </div>
                    </div>
                  </div>

                  <div
                    class="row"
                    *ngIf="
                      solicitacao &&
                      (solicitacao.alt == 'Negociado' ||
                        solicitacao.alt == 'PO Emitido' ||
                        solicitacao.alt == 'Recebido')
                    "
                  >
                    <div class="col-sm-12">
                      <div class="row">
                        <hr
                          [ngClass]="{
                            linhaAtiva: solicitacao.alt == 'Negociado'
                          }"
                          style="width: 100%"
                        />
                        <div
                          class="col-sm-12"
                          style="margin-top: -30px; text-align: center"
                        >
                          <span
                            [ngClass]="{
                              areaAtiva: solicitacao.alt == 'Negociado'
                            }"
                            style="background-color: #ffffff; padding-left: 15px; padding-right: 15px; font-weight: bold;"
                            >Número da PO</span
                          >
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-6">
                          <label
                            class="m-0 p-0"
                            [class.tituloErro]="
                              solicitacaoForm.get('numeroGRS').status ===
                                'INVALID' &&
                              solicitacaoForm.get('numeroGRS').touched
                            "
                            >Número da
                            {{
                              solicitacaoForm.get("tipoDeMaterial").value
                            }}</label
                          >
                          <input
                            type="text"
                            formControlName="numeroGRS"
                            [class.erro]="
                              solicitacaoForm.get('numeroGRS').status ===
                                'INVALID' &&
                              solicitacaoForm.get('numeroGRS').touched
                            "
                            *ngIf="
                              solicitacaoForm.get('tipoDeMaterial').value ==
                              'RAS'
                            "
                          />
                          <input
                            type="text"
                            mask="00009"
                            prefix="GRS"
                            formControlName="numeroGRS"
                            [class.erro]="
                              solicitacaoForm.get('numeroGRS').status ===
                                'INVALID' &&
                              solicitacaoForm.get('numeroGRS').touched
                            "
                            *ngIf="
                              solicitacaoForm.get('tipoDeMaterial').value ==
                              'GRS'
                            "
                          />
                        </div>
                        <div class="col-sm-6">
                          <label
                            class="m-0 p-0"
                            [class.tituloErro]="
                              solicitacaoForm.get('numeroPO').status ===
                                'INVALID' &&
                              solicitacaoForm.get('numeroPO').touched
                            "
                            >Número da PO</label
                          >
                          <input
                            type="text"
                            mask="00000"
                            prefix="PO"
                            formControlName="numeroPO"
                            [class.erro]="
                              solicitacaoForm.get('numeroPO').status ===
                                'INVALID' &&
                              solicitacaoForm.get('numeroPO').touched
                            "
                          />
                        </div>
                      </div>
                    </div>
                  </div>

                  <div
                    class="row"
                    *ngIf="
                      solicitacao &&
                      (solicitacao.alt == 'PO Emitido' ||
                        solicitacao.alt == 'Recebido')
                    "
                  >
                    <div class="col-sm-12">
                      <div class="row">
                        <hr
                          [ngClass]="{
                            linhaAtiva: solicitacao.alt == 'PO Emitido'
                          }"
                          style="width: 100%"
                        />
                        <div
                          class="col-sm-12"
                          style="margin-top: -30px; text-align: center"
                        >
                          <span
                            [ngClass]="{
                              areaAtiva: solicitacao.alt == 'PO Emitido'
                            }"
                            style="background-color: #ffffff; padding-left: 15px; padding-right: 15px; font-weight: bold;"
                            >Recebimento</span
                          >
                        </div>
                      </div>
                      <label
                        class="m-0 p-0"
                        [class.tituloErro]="
                          solicitacaoForm.get('dataRecebimento').status ===
                            'INVALID' &&
                          solicitacaoForm.get('dataRecebimento').touched
                        "
                        >Data do Recebimento</label
                      >
                      <input
                        formControlName="dataRecebimento"
                        type="date"
                        [class.erro]="
                          solicitacaoForm.get('dataRecebimento').status ===
                            'INVALID' &&
                          solicitacaoForm.get('dataRecebimento').touched
                        "
                      />
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div *ngIf="historico" class="col-sm-12" style="text-align: center">
          <div class="row hide-on-screen">
            <hr style="width: 100%" />
            <div
              class="col-sm-11"
              style="margin-top: -30px; text-align: center"
            >
              <span class="titulo-acoes">Histórico</span>
            </div>
            <table class="tabela-historico">
              <tr>
                <th class="celula" style="padding: 15px">Data</th>
                <th class="celula" style="padding: 15px">Status</th>
              </tr>
              <tr *ngFor="let item of historico">
                <th class="celula">
                  <p>{{ item.data.toDate() | date: "dd/MM/yyyy" }}</p>
                </th>
                <th class="celula">
                  <p>{{ item.status }}</p>
                </th>
              </tr>
            </table>
          </div>

          <div
            class="d-print-none"
            style="min-height: 105px"
            *ngIf="!solicitacao"
          >
            <button
              mat-ripple
              class="btn btn-primary"
              style="right: 15px; position: absolute;"
              (click)="saveNewSolicitacao()"
            >
              Salvar
            </button>
          </div>
          <div
            class="d-print-none"
            style="min-height: 105px"
            *ngIf="
              solicitacao?.alt == 'Em Fila' && usuario.role == 'administrador'
            "
          >
            <button
              mat-ripple
              class="btn "
              style="right: 165px; position: absolute;"
              (click)="showMotivoModal()"
            >
              Recusar
            </button>
            <button
              mat-ripple
              class="btn btn-primary"
              style="right: 15px; position: absolute;"
              (click)="saveAprovacao()"
            >
              Aprovar
            </button>
          </div>
          <div
            class="d-print-none"
            style="min-height: 105px"
            *ngIf="
              solicitacao?.alt == 'Recusada' && usuario.role != 'administrador'
            "
          >
            <button
              mat-ripple
              class="btn btn-primary"
              style="right: 15px; position: absolute;"
              (click)="reenviar()"
            >
              Reenviar Solicitação
            </button>
          </div>
          <div
            class="d-print-none"
            style="min-height: 105px"
            *ngIf="
              solicitacao?.alt == 'Em Fila' && usuario.role != 'administrador'
            "
          >
            <button
              mat-ripple
              class="btn btn-primary"
              style="right: 15px; position: absolute;"
              (click)="save()"
            >
              Salvar
            </button>
          </div>
          <div
            class="d-print-none"
            style="min-height: 105px"
            *ngIf="
              solicitacao?.alt == 'Em Cotação' &&
              usuario.role == 'administrador'
            "
          >
            <button
              mat-ripple
              class="btn "
              style="right: 165px; position: absolute;"
              (click)="savePartial()"
            >
              Salvar
            </button>
            <button
              mat-ripple
              class="btn btn-primary"
              style="right: 15px; position: absolute;"
              (click)="saveNegociado()"
            >
              Prosseguir
            </button>
          </div>
          <div
            class="d-print-none"
            style="min-height: 105px"
            *ngIf="
              solicitacao?.alt == 'Negociado' && usuario.role == 'administrador'
            "
          >
            <hr />
            <button
              mat-ripple
              class="btn btn-primary"
              style="right: 15px; position: absolute;"
              (click)="savePOEmitida()"
            >
              Prosseguir
            </button>
          </div>
          <div
            class="d-print-none"
            style="min-height: 105px"
            *ngIf="
              solicitacao?.alt == 'Negociado' && usuario.role != 'administrador'
            "
          >
            <button
              mat-ripple
              class="btn btn-primary"
              style="right: 15px; position: absolute;"
              (click)="savePartial()"
            >
              Salvar
            </button>
          </div>
          <div
            class="d-print-none"
            style="min-height: 105px"
            *ngIf="
              solicitacao?.alt == 'PO Emitido' &&
              usuario.role == 'administrador'
            "
          >
            <button
              mat-ripple
              class="btn btn-primary"
              style="right: 15px; position: absolute;"
              (click)="saveRecebido()"
            >
              Encerrar
            </button>
          </div>
          <div
            class="card-footer d-print-none"
            style="min-height: 105px"
            *ngIf="
              solicitacao?.alt != 'Em Fila' &&
              usuario.role == 'administrador' &&
              solicitacao?.comprador &&
              usuario.nome != solicitacao.comprador
            "
          >
            <button
              mat-ripple
              class="btn btn-primary"
              style="right: 15px; position: absolute;"
              (click)="saveComprador()"
            >
              Reinvidicar Solicitação
            </button>
          </div>
          <div class="d-print-none" *ngIf="itensComprasFilter">
            <a
              *ngIf="previous"
              [routerLink]="['/solicitacao/' + previous]"
              class="previous"
            >
              <i class="zmdi zmdi-chevron-left"></i>
            </a>
            <a
              *ngIf="next"
              [routerLink]="['/solicitacao/' + next]"
              class="next"
            >
              <i class="zmdi zmdi-chevron-right"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer id="footer_wrapper" class="footer_wrapper"></footer>

  <div
    class="modal fullscreen fade"
    id="fullscreen_modal"
    bsModal
    #fullScreenModal="bs-modal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="modalLabel"
    aria-hidden="true"
  >
    <button
      type="button"
      class="close pull-right"
      aria-label="Close"
      (click)="fullScreenModal.hide()"
    >
      <span style="font-size: 50px;margin-right: 20px;" aria-hidden="true"
        >&times;</span
      >
    </button>
    <div
      style="background-color: #ffffff; width: 80%; height: 0 auto; margin: 0 auto;margin-top:5%;"
    >
      <app-tipo-material mode="modal"></app-tipo-material>
    </div>
  </div>

  <div
    class="modal fullscreen fade"
    id="material_modal"
    bsModal
    #materialModal="bs-modal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="modalLabel"
    aria-hidden="true"
  >
    <button
      type="button"
      class="close pull-right"
      aria-label="Close"
      (click)="materialModal.hide()"
    >
      <span style="font-size: 50px;margin-right: 20px;" aria-hidden="true"
        >&times;</span
      >
    </button>
    <div
      style="background-color: #ffffff; width: 80%; height: 0 auto; margin: 0 auto;margin-top:5%;"
    >
      <app-fornecedores mode="modal"></app-fornecedores>
    </div>
  </div>

  <div
    class="modal fullscreen fade"
    id="motivo_modal"
    bsModal
    #motivoModal="bs-modal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="modalLabel"
    aria-hidden="true"
  >
    <button
      type="button"
      class="close pull-right"
      aria-label="Close"
      (click)="motivoModal.hide()"
    >
      <span style="font-size: 50px;margin-right: 20px;" aria-hidden="true"
        >&times;</span
      >
    </button>
    <div
      style="background-color: #ffffff; width: 80%; height: 0 auto; margin: 0 auto;margin-top:5%;"
    >
      <div
        id="content_wrapper"
        class="fullWidth1-wrapper"
        *ngIf="solicitacaoForm"
      >
        <form novalidate [formGroup]="solicitacaoForm">
          <div class="content">
            <header class="header-wrapper header-sm">
              <h1>Qual o motivo para a recusa da solicitação?</h1>
            </header>
            <div class="content-body">
              <div>
                <select
                  #motivo
                  formControlName="motivo"
                  (change)="onMotivoChange()"
                >
                  <option ng-value="undefined" disabled>
                    Escolha o motivo para a recusa da solicitação
                  </option>
                  <option *ngFor="let mot of motivos" [value]="mot.id">
                    {{ mot.descricao }}
                  </option></select
                >
              </div>
              <div style="padding-top: 30px" *ngIf="showMotivo">
                <label
                  for=""
                  class="m-0 p-0"
                  [class.tituloErro]="
                    solicitacaoForm.get('detalheMotivo').status === 'INVALID' &&
                    solicitacaoForm.get('detalheMotivo').touched
                  "
                  >Descreva o motivo para a reprovação da solicitação</label
                >
                <br />
                <textarea
                  formControlName="detalheMotivo"
                  rows="10"
                  [class.erro]="
                    solicitacaoForm.get('detalheMotivo').status === 'INVALID' &&
                    solicitacaoForm.get('detalheMotivo').touched
                  "
                ></textarea>
              </div>
            </div>
            <div class="card-footer d-print-none" style="min-height: 105px">
              <button
                mat-ripple
                class="btn btn-primary"
                style="right: 15px; position: absolute;"
                (click)="saveReprovacao()"
              >
                Prosseguir
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
