<div id="content_wrapper" class="fullWidth1-wrapper">
    <div class="content">
        <header class="header-wrapper header-sm d-print-none">
            <h1>Solicitações</h1>
        </header>
        <div class="content-body">
            <div class="card card-datatable">
                <header class="card-header p-30">
                    <div class="selected-toolbar d-print-none" [ngClass]="{'active' : isToolbarActive}">
                        <mat-toolbar class="activeHeaderColor">
                            <span>{{itemCount}} {{itemsSelected}}</span>
                            <span class="demo-fill-remaining"></span>
                            <button mat-icon-button (click)="delete()">
                                <mat-icon class="md-24">delete</mat-icon>
                            </button>
                        </mat-toolbar>
                    </div>
                    <h2 class="card-title">Solicitações Arquivadas</h2>
                    <ul class="actions icons top-right d-print-none">
                        <li>
                            <a href="javascript:void(0)" (click)="isSearchActive = !isSearchActive;" >
                                <i class="zmdi zmdi-search"></i>
                            </a>
                        </li>

                    </ul>
                    <ul class="actions fab bottom-right d-print-none">
                        <li>
                            <button class="btn btn-accent btn-fab d-print-none" mat-ripple [routerLink]="['/solicitacao/nova']" [style.margin-top]="isSearchActive ? '60px' : '-60px'" style="position: absolute;">
                                <i class="zmdi zmdi-plus"></i>
                            </button>
                        </li>
                    </ul>
                </header>
                <div class="card-block p-0" >
                    <div class="data-filter-wrapper d-print-none" [ngClass]="{'active' : isSearchActive}" >
                        <!--<i class="zmdi zmdi-search search filter-icons"></i>
                        <input type='text' class='data-filter' placeholder='Digite o número da solicitação...' (keyup)='updateFilter($event)' [(ngModel)]="searchValue"
                        />
                        <a href="javascript:void(0)" class="close filter-icons" (click)="triggerClose($event)">
                            <i class="zmdi zmdi-close"></i>
                        </a>-->
                        <span style="padding: 20px; ">Escolha os status desejados</span>
                        <div style="margin-top: 20px; margin-bottom: 20px;">
                            <a (click)="showRecusadas = !showRecusadas; filtrar();" style="margin-right: 10px; margin-left: 20px"><img [class.ligado]="showRecusadas" [class.desligado]="!showRecusadas" src="/assets/img/recusada.png" alt="Recusada" class="max-w-50 radius" #tooltip="matTooltip" matTooltip="Recusada" style="border-color: #E10000;" /></a>
                            <!--<a (click)="showFila = !showFila; filtrar();" style="margin-right: 10px; margin-left: 10px"><img [class.ligado]="showFila" [class.desligado]="!showFila" src="/assets/img/em-fila.png" alt="Em Fila" class="max-w-50 radius" #tooltip="matTooltip" matTooltip="Em Fila" style="border-color: #FFE600;"/></a>
                            <a (click)="showCotacao = !showCotacao; filtrar();" style="margin-right: 10px; margin-left: 10px"><img [class.ligado]="showCotacao" [class.desligado]="!showCotacao" src="/assets/img/cotacao.png" alt="Em Cotação" class="max-w-50 radius" #tooltip="matTooltip" matTooltip="Em Cotação" style="border-color: #00B2F3;"/></a>
                            <a (click)="showNegociado = !showNegociado; filtrar();" style="margin-right: 10px; margin-left: 10px"><img [class.ligado]="showNegociado" [class.desligado]="!showNegociado" src="/assets/img/negociado.png" alt="Negociado" class="max-w-50 radius" #tooltip="matTooltip" matTooltip="Negociado" style="border-color: #808080;"/></a>
                            <a (click)="showPO = !showPO; filtrar();" style="margin-right: 10px; margin-left: 10px"><img [class.ligado]="showPO" [class.desligado]="!showPO" src="/assets/img/po-emitido.png" alt="PO Emitida" class="max-w-50 radius" #tooltip="matTooltip" matTooltip="PO Emitida" style="border-color: #00B247"/></a>-->
                            <a (click)="showRecebido = !showRecebido; filtrar();" style="margin-right: 20px; margin-left: 10px"><img  [class.ligado]="showRecebido" [class.desligado]="!showRecebido" src="/assets/img/recebido.png" alt="Recebido" class="max-w-50 radius" #tooltip="matTooltip" matTooltip="Recebido" style="border-color: #00892C"/></a>
                            <a (click)="showExcluida = !showExcluida; filtrar();" style="margin-right: 20px; margin-left: 10px"><img  [class.ligado]="showExcluida" [class.desligado]="!showExcluida" src="/assets/img/lixeira.png" alt="Excluida" class="max-w-50 radius" #tooltip="matTooltip" matTooltip="Excluida" style="border-color: #000000"/></a>
                        </div>
                        <hr>
                    </div>
                    <ngx-datatable #table style="width: 100%" class="material" [rows]="rows" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
                        [rowHeight]="'auto'" [limit]="15" [selected]="selected" [selectionType]="'checkbox'" (activate)="onActivate($event)"
                        (select)='onSelect($event)' [rowClass]="getRowClass">
                        <ngx-datatable-column [width]="60" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
                            <ng-template ngx-datatable-header-template let-value="value" let-allRowsSelected="allRowsSelected" let-selectFn="selectFn">
                                <mat-checkbox class="example-margin d-print-none" [checked]="allRowsSelected" (change)="selectFn(!allRowsSelected)"></mat-checkbox>
                            </ng-template>
                            <ng-template ngx-datatable-cell-template let-value="value" let-isSelected="isSelected" let-onCheckboxChangeFn="onCheckboxChangeFn">
                                <mat-checkbox class="example-margin d-print-none" [checked]="isSelected" (change)="onCheckboxChangeFn($event)"></mat-checkbox>
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Numero"></ngx-datatable-column>
                        <ngx-datatable-column prop="material" name="Categoria"></ngx-datatable-column>
                        <ngx-datatable-column prop="tipoDeMaterial" name="Tipo"></ngx-datatable-column>
                        <ngx-datatable-column name="Solicitante"></ngx-datatable-column>
                        <ngx-datatable-column name="Departamento"></ngx-datatable-column>
                        <ngx-datatable-column name="Inclusão" prop="inclusao">
                            <ng-template let-row="row" style="text-align: center;" ngx-datatable-cell-template>
                                {{row.inclusao.toDate() | date: 'd/M/yy'}}
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Alteração" prop="alteracao">
                            <ng-template let-row="row" style="text-align: center;" ngx-datatable-cell-template>
                                <span *ngIf="row.alteracao">{{row.alteracao.toDate() | date: 'd/M/yy'}}</span>
                                <span *ngIf="!row.alteracao">-----</span>
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Status">
                            <ng-template let-row="row" style="text-align: center;" ngx-datatable-cell-template>
                                <img src="/assets/img/{{row.img}}" alt="{{row.alt}}" class="max-w-50 radius" #tooltip="matTooltip" [matTooltip]="row.alt"
                                />
                                <br>
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Comprador">
                            <ng-template let-row="row" style="text-align: center;" ngx-datatable-cell-template>
                                <span *ngIf="row.comprador">{{row.comprador}}</span>
                                <span *ngIf="!row.comprador">-----</span>
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Editar">
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                <a [routerLink]="['/solicitacao/'+row.id]" class="icon edit-product d-print-none">
                                    <i class="zmdi zmdi-edit"></i>
                                </a>
                            </ng-template>
                        </ngx-datatable-column>
                    </ngx-datatable>
                </div>
                <button class="btn btn-accent d-print-none" (click)="makeReport()">
                    <i class="zmdi zmdi-grid"></i> Exportar
                </button>
            </div>
        </div>
    </div>

</div>
<footer id="footer_wrapper" class="footer_wrapper d-print-none"></footer>