<div id="content_wrapper" class="fullWidth1-wrapper">
  <div class="content">
    <header class="header-wrapper header-sm d-print-none">
      <h1>Solicitações</h1>
      <button
        mat-ripple
        class="btn btn-add"
        style="right: 15px; position: absolute; width: 60px; height: 60px; display: flex; justify-content: space-around; top: 160px"
        [routerLink]="['/solicitacao/nova']"
      >
        <i class="zmdi zmdi-plus"></i>
      </button>
    </header>
    <div class="content-body">
      <ais-instantsearch
        [config]="{
          apiKey: '5834f19706ef77b3ba561937bfbef5c0',
          appId: 'K6JY2F1Y51',
          indexName: indexName,
          routing: false
        }"
      >
        <div>
          <div class="filtros-container">
            <div class="col-md-12">
              <div class="col-md-12"><ais-search-box placeholder="Pesquisar"></ais-search-box></div>
            </div>
            <div class="col-md-12" style="padding: 20px;">
                <div class="col-md-12">
                  <span style="padding: 20px; ">Escolha os status desejados</span>
                </div>
                <div class="col-md-12">
                  <i class="zmdi zmdi-search iconpesquisa"></i>
                  <ais-refinement-list
                    attribute="status"
                    [transformItems]="orderStatus"
                  ></ais-refinement-list>
                </div>
                <div class="col-md-12" [hidden]="true">
                  <ais-refinement-list
                    attribute="departamento"
                    limit="18"
                  ></ais-refinement-list>
                </div>
              </div>
          </div>
        </div>
        <div class="results">
          <ais-hits [transformItems]="filtroAlgolia">
            <ng-template
              let-hits="hits"
              let-results="results"
              let-refine="showMore"
            >
              {{ updateFilter(results._state) }}

              <ol class="ais-Hits-list">
                <li class="ais-hits-item">
                  <div class="col-md-1 ais-title">Status</div>
                  <div class="col-md-1 ais-title" (click)="changeOrder('Número')">Número</div>
                  <div class="col-md-1 ais-title" (click)="changeOrder('Categoria')">Categoria</div>
                  <div class="col-md-1 ais-title">Tipo</div>
                  <div class="col-md-2 ais-title" (click)="changeOrder('Solicitante')">Solicitante</div>
                  <div class="col-md-1 ais-title" (click)="changeOrder('Departamento')">Dpto</div>
                  <div class="col-md-1 ais-title">Inclusão</div>
                  <div class="col-md-1 ais-title">Alteração</div>
                  <div class="col-md-2 ais-title" (click)="changeOrder('Comprador')">Comprador</div>
                  <div class="col-md-1 ais-title">Ações</div>
                </li>
                <li
                  *ngFor="let hit of hits; let i = index"
                  class="ais-hits-item"
                  [class.urgente]="hit.urgente === 'TRUE'"
                  [class.foraPrazo]="hit.foraPrazo"
                  [style.font-weight]="hit.urgente === 'TRUE' || hit.urgente ? 'bolder' : 'normal'"
                  [style.color]="hit.urgente === 'TRUE' || hit.urgente ? 'red' : 'dark-gray'"
                  [style.background-color]="hit.foraPrazo ? 'rgba(255, 0, 0, 0.2)' : '#ffffff'"
                >
                  <div class="col-md-1 ais-cell">
                    <img
                      [src]="resolveImagemStatus(hit.status)"
                      width="30px"
                      height="30px"
                      class="ais-img"
                    />
                  </div>
                  <div class="col-md-1 ais-cell">{{ hit.numero }}</div>
                  <div class="col-md-1 ais-cell">{{ hit.categoria }}</div>
                  <div class="col-md-1 ais-cell">{{ hit.tipoMaterial }}</div>
                  <div class="col-md-2 ais-cell">{{ hit.solicitante }}</div>
                  <div class="col-md-1 ais-cell">{{ hit.departamento }}</div>
                  <div class="col-md-1 ais-cell">{{ hit.dataInclusao }}</div>
                  <div class="col-md-1 ais-cell">{{ hit.dataAlteracao }}</div>
                  <div class="col-md-2 ais-cell">{{ hit.comprador }}</div>
                  <div class="col-md-1 ais-cell ais-action">
                    <div class="col-md-4 ais-cell">
                      <a [routerLink]="['/timeline/' + hit.objectID]">
                        <i class="zmdi zmdi-time-restore"></i>
                      </a>
                    </div>
                    <div class="col-md-4 ais-cell">
                      <a [routerLink]="['/solicitacao/' + hit.objectID]">
                        <i class="zmdi zmdi-edit"></i>
                      </a>
                    </div>
                    <div class="col-md-4 ais-cell">
                      <a (click)="delete(hit.objectID, motivoModal)">
                        <i class="zmdi zmdi-delete"></i>
                      </a>
                    </div>
                  </div>
                </li>
              </ol>
            </ng-template>
          </ais-hits>
        </div>
        <ais-pagination></ais-pagination>
        <ais-sort-by  [hidden]="true"
          [items]="[
            { name: 'smr-compras', label: 'Número' },
            { name: 'smr-compras-departamento', label: 'Departamento' },
            { name: 'smr-compras-categoria', label: 'Categoria' },
            { name: 'smr-compras-solicitante', label: 'Solicitante' },
            { name: 'smr-compras-comprador', label: 'Comprador' }
          ]"
        >
        </ais-sort-by>
        <!--<ais-current-refinements [clearsQuery]="true">
        </ais-current-refinements>-->
      </ais-instantsearch>
    </div>
  </div>
</div>

<footer id="footer_wrapper" class="footer_wrapper d-print-none"></footer>
<div
  class="modal fullscreen fade"
  id="motivo_modal"
  bsModal
  #motivoModal="bs-modal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="modalLabel"
  aria-hidden="true"
>
  <button
    type="button"
    class="close pull-right"
    aria-label="Close"
    (click)="motivoModal.hide()"
  >
    <span style="font-size: 50px;margin-right: 20px;" aria-hidden="true"
      >&times;</span
    >
  </button>
  <div
    style="background-color: #ffffff; width: 80%; height: 0 auto; margin: 0 auto;margin-top:5%;"
  >
    <div id="content_wrapper" class="fullWidth1-wrapper">
      <form novalidate>
        <div class="content">
          <header class="header-wrapper header-sm">
            <h1>Qual o motivo para a exclusão da solicitação?</h1>
          </header>
          <div class="content-body">
            <div style="padding-top: 20px; width: 100%">
              <label for="" class="m-0 p-0">
                Descreva o motivo para a exclusão da solicitação
              </label>
              <br />
              <textarea
                [(ngModel)]="motivoDelete"
                rows="10"
                width="90%"
                #motivo="ngModel"
                [ngModelOptions]="{ standalone: true }"
                style="width: 100%"
              ></textarea>
            </div>
          </div>
          <div class="card-footer d-print-none" style="min-height: 105px">
            <button
              mat-ripple
              class="btn btn-primary"
              style="right: 15px; position: absolute;"
              (click)="confirmDelete()"
            >
              Confirmar Exclusão
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
