<div id="content_wrapper" class="boxedlayout2-wrapper">
    <div class="content">
        <div class="header-wrapper header-lg overlay">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <header>
                            <h1>Store Settings</h1>
                        </header>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-body container">
            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-block p-0">
                            <mat-tab-group class="demo-tab-group" mat-stretch-tabs>
                                <mat-tab label="General">
                                    <div class="tab-content p-30">
                                        <h2 class="card-title">General Settings</h2>
                                        <form class="form-horizontal">
                                            <div class="form-group row">
                                                <label class="col-2 col-form-label text-right">Site Name:</label>
                                                <div class="col-10">
                                                    <mat-form-field floatPlaceholder="never" class="float-never">
                                                        <input matInput class="form-control" type="text"
                                                               placeholder="Material Wrap">
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-2 col-form-label text-right">Site Owner:</label>
                                                <div class="col-10">
                                                    <mat-form-field floatPlaceholder="never" class="float-never">
                                                        <input matInput class="form-control" type="text"
                                                               placeholder="Authentic Goods Co.">
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-2 col-form-label text-right">Email Address:</label>
                                                <div class="col-10">
                                                    <mat-form-field floatPlaceholder="never" class="float-never">
                                                        <input matInput class="form-control" type="email"
                                                               placeholder="support@authenticgoods.co">
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                            <div class="form-group text-right">
                                                <div class="col-mat-12">
                                                    <button mat-ripple class="btn btn-accent btn-flat ">Cancel</button>
                                                    <button mat-ripple class="btn btn-accent">Save Changes</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </mat-tab>
                                <mat-tab label="SEO">
                                    <div class="tab-content p-30">
                                        <h2 class="card-title">SEO Settings</h2>
                                        <div class="form-horizontal">
                                            <div class="form-group row">
                                                <label class="col-2 col-form-label text-right">Page Title:</label>
                                                <div class="col-10">
                                                    <mat-form-field floatPlaceholder="never" class="float-never">
                                                        <input matInput class="form-control" type="text"
                                                               placeholder="Welcome to the MaterialWrap Store">
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-2 col-form-label text-right">Meta Keywords:</label>
                                                <div class="col-10">
                                                    <mat-form-field floatPlaceholder="never" class="float-never">
                                                        <input matInput class="form-control" type="text"
                                                               placeholder="Bootstrap, Material Design, Admin Themes, etc.">
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-2 col-form-label text-right">Meta Description:</label>
                                                <div class="col-10">
                                                    <mat-form-field floatPlaceholder="never" class="float-never">
                                                        <input matInput class="form-control" type="text"
                                                               placeholder="A Multipurpose UI Dashboard Kit for Web Application Development">
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-2 col-form-label text-right">Site Tracker
                                                    Code:</label>
                                                <div class="col-10">
                                                    <mat-form-field floatPlaceholder="never" class="float-never">
                                                        <input matInput class="form-control" type="text"
                                                               placeholder="Paste tracker script here.">
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                            <div class="form-group text-right">
                                                <div class="col-mat-12">
                                                    <button mat-ripple class="btn btn-accent btn-flat ">Cancel</button>
                                                    <button mat-ripple class="btn btn-accent">Save Changes</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </mat-tab>
                                <mat-tab label="Payments">
                                    <div class="tab-content p-30">
                                        <h2 class="card-title">Payments</h2>
                                        <div class="form-horizontal">
                                            <div class="form-group row">
                                                <label class="col-2 col-form-label text-right p-0 m-0 line-height-8">Accept
                                                    credit cards:</label>
                                                <div class="col-10">
                                                    <p>
                                                        Accept credit card payments during checkout by choosing a
                                                        payment provider. This can be used in conjunction with other
                                                        payment solutions such as PayPal Express Checkout.
                                                    </p>
                                                    <p>
                                                        <button class="btn btn-default">Add a provider</button>
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-2 col-form-label text-right p-0 m-0 line-height-8">Express
                                                    Checkout:</label>
                                                <div class="col-10">
                                                    <p class="p-b-30">
                                                        Accept PayPal as an additional payment method using a "Checkout
                                                        with PayPal" button.
                                                    </p>
                                                    <div class="form-group m-t-20 m-b-20 m-l-10 max-w-300">
                                                        <mat-select class="block" placeholder="Select PayPal method"
                                                                    [(ngModel)]="expressCheckout">
                                                            <mat-option>None</mat-option>
                                                            <mat-option *ngFor="let express of expressCheckout"
                                                                        [value]="express.value">
                                                                {{ express.viewValue }}
                                                            </mat-option>
                                                        </mat-select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-2 col-form-label text-right p-0 m-0 line-height-8">Manual
                                                    payments:</label>
                                                <div class="col-10">
                                                    <p class="p-b-30">
                                                        Provide customers with instructions to pay outside of your
                                                        online store. Choose from cash on delivery (COD), money order,
                                                        bank deposit, or create a custom solution.
                                                    </p>
                                                    <div class="form-group m-t-20 m-b-20 m-l-10 max-w-300">
                                                        <mat-select class="block" placeholder="Activate custom payment"
                                                                    [(ngModel)]="customCheckout">
                                                            <mat-option>None</mat-option>
                                                            <mat-option *ngFor="let custom of customCheckout"
                                                                        [value]="custom.value">
                                                                {{ custom.viewValue }}
                                                            </mat-option>
                                                        </mat-select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-2 col-form-label text-right p-0 m-0 line-height-8">Payment
                                                    authorization:</label>
                                                <div class="col-10">
                                                    <mat-radio-button name="group1">Automatically capture payment for
                                                        orders.Authorize and charge the customer's credit card.
                                                    </mat-radio-button>
                                                    <mat-radio-button name="group1">Manually capture payment for
                                                        orders.Authorize the customer's credit card.
                                                    </mat-radio-button>
                                                </div>
                                            </div>
                                            <div class="form-group text-right">
                                                <div class="col-mat-12">
                                                    <button mat-ripple class="btn btn-accent btn-flat ">Cancel</button>
                                                    <button mat-ripple class="btn btn-accent">Save Changes</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </mat-tab>
                                <mat-tab label="Checkout">
                                    <div class="tab-content p-30">
                                        <h2 class="card-title">General Settings</h2>
                                        <form class="form-horizontal">
                                            <div class="form-group row">
                                                <label class="col-2 col-form-label text-right">Checkout:</label>
                                                <div class="col-10">
                                                    <mat-form-field floatPlaceholder="never" class="float-never">
                                                        <textarea matInput placeholder="Textarea"
                                                                  class="form-control"></textarea>
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-2 col-form-label text-right">Privacy policy:</label>
                                                <div class="col-10">
                                                    <mat-form-field floatPlaceholder="never" class="float-never">
                                                        <textarea matInput placeholder="Privacy policy"
                                                                  class="form-control"></textarea>
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-2 col-form-label text-right">Terms of service:</label>
                                                <div class="col-10">
                                                    <mat-form-field floatPlaceholder="never" class="float-never">
                                                        <textarea matInput placeholder="Terms of service"
                                                                  class="form-control"></textarea>
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                            <div class="form-group text-right">
                                                <div class="col-mat-12">
                                                    <button mat-ripple class="btn btn-accent btn-flat ">Cancel</button>
                                                    <button mat-ripple class="btn btn-accent">Save Changes</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </mat-tab>
                            </mat-tab-group>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer id="footer_wrapper" class="footer_wrapper"></footer>
