<div id="content_wrapper" class="fullWidth1-wrapper">
  <div class="content timeline-page">
    <header class="header-wrapper header-sm">
      <h1>{{ title }}</h1>
    </header>
    <div class="content-body">
      <section id="meeting-timeline" class="timeline-container ">
        <div class="solicitacao-id">
          <a [routerLink]="['/solicitacao/' + solicitacaoId]">
            <h2>{{ historico[0].numeroSo }}</h2>
          </a>
        </div>
        <div
          class="meeting-timeline-block"
          *ngFor="let item of historico; let i = index"
        >
          <div class="meeting-timeline-icon animated bounceIn">
            <img class="max-w-50 radius" [src]="'/assets/img/' + item.imagem" />
          </div>
          <div
            class="card card-timeline animated "
            [ngClass]="i % 2 ? fadeInRight : fadeInLeft"
          >
            <header class="card-header border-bottom">
              <h2 class="card-title">{{ item.status }}</h2>
            </header>
            <span class="meeting-time">{{
              item.data.toDate() | date: "dd/MM/yyyy"
            }}</span>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
<footer id="footer_wrapper" class="footer_wrapper"></footer>
