<nav role="navigation" class="navbar d-print-none">
	<ul class="navbar-nav nav-left">
		<li class="nav-item hidden-sm">
			<a mat-ripple href="javascript:void(0)" (click)="toggleAppMobileLeftMenuSidebar()" class="nav-link mobile-menu-trigger">
				<i class="mdi mdi-backburger"></i>
			</a>
		</li>
		<li class="nav-item hidden-sm-down">
			<a mat-ripple [routerLink]="['/solicitacao']" class="nav-link">
				<img style="max-width: 70px;" src="../assets/img/logotipo-smr.png" alt="SMR Automotive - Portal de Compras">
			</a>
		</li>
		<!--<li class="nav-item dropdown dropdown-lg app_menu_launcher hidden-sm-down" dropdown>
			<a mat-ripple href="javascript:void(0)" class="nav-link" dropdownToggle>
				<span>Dropdown</span>
				<span class="caret"></span>
			</a>
			<ul class="dropdown-menu dropdown-lg-menu btn-accent p-15 text-center" *dropdownMenu>
				<li>
					<ul>
						<li>
							<a href="/mail">
								<i class="zmdi zmdi-email"></i>
								<span>Mail</span>
							</a>
						</li>
						<li>
							<a href="javascript:void(0)">
								<i class="zmdi zmdi-accounts-list"></i>
								<span>Contacts</span>
							</a>
						</li>
						<li>
							<a href="javascript:void(0)">
								<i class="zmdi zmdi-comment-text"></i>
								<span>Chat</span>
							</a>
						</li>
					</ul>
				</li>
				<li>
					<ul>
						<li>
							<a href="/notes">
								<i class="mdi mdi-lightbulb"></i>
								<span>Notes</span>
							</a>
						</li>
						<li>
							<a href="/taskboard">
								<i class="zmdi zmdi-view-column"></i>
								<span>Taskboard</span>
							</a>
						</li>
						<li>
							<a href="javascript:void(0)">
								<i class="zmdi zmdi-calendar-note"></i>
								<span>Calendar</span>
							</a>
						</li>
					</ul>
				</li>
			</ul>
		</li>-->
		<!--<li class="nav-item dropdown mega hidden-sm-down" dropdown>
			<a mat-ripple href="javascript:void(0)" class="nav-link" dropdownToggle>
				<span>Mega</span>
				<span class="caret"></span>
			</a>
			<div class="dropdown-menu dropdown-menu full-width p-l-10" *dropdownMenu>
				<div class="row">
					<div class="col-4">
						<h3>Pages
							<span class="badge status info">10</span>
						</h3>
						<div class="row">
							<div class="col-6">
								<ul>
									<li>
										<a href="/profile" class="btn-primary-hover">
											<i class="zmdi zmdi-chevron-right m-r-5"></i> Profile</a>
									</li>
									<li>
										<a href="/invoice" class="btn-primary-hover">
											<i class="zmdi zmdi-chevron-right m-r-5"></i> Invoice</a>
									</li>
									<li>
										<a href="/timeline" class="btn-primary-hover">
											<i class="zmdi zmdi-chevron-right m-r-5"></i> Timeline</a>
									</li>
									<li>
										<a href="/locations" class="btn-primary-hover">
											<i class="zmdi zmdi-chevron-right m-r-5"></i> Locations</a>
									</li>
								</ul>
							</div>
							<div class="col-6">
								<ul>
									<li>
										<a href="/pricing-tables" class="btn-primary-hover">
											<i class="zmdi zmdi-chevron-right m-r-5"></i> Pricing Tables</a>
									</li>
									<li>
										<a href="/gallery" class="btn-primary-hover">
											<i class="zmdi zmdi-chevron-right m-r-5"></i> Gallery</a>
									</li>
									<li>
										<a href="/login" class="btn-primary-hover">
											<i class="zmdi zmdi-chevron-right m-r-5"></i> Login</a>
									</li>
									<li>
										<a href="lock-screen.html" class="btn-primary-hover">
											<i class="zmdi zmdi-chevron-right m-r-5"></i> Lock Screen</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-4">
						<h3>New Arrivals</h3>
						<ul class="style-none inline-block">
							<li>
								<img src="/assets/img/ecom/products/39_Ie8T.jpeg" class="max-w-100" alt="">
							</li>
							<li>
								<img src="/assets/img/ecom/products/39_8wMD.jpeg" class="max-w-100" alt="">
							</li>
							<li>
								<img src="/assets/img/ecom/products/39_JnFC.jpeg" class="max-w-100" alt="">
							</li>

							<li>
								<img src="/assets/img/ecom/products/2830_S4ql.jpeg" class="max-w-100" alt="">
							</li>
							<li>
								<img src="/assets/img/ecom/products/4107_PPxC.jpeg" class="max-w-100" alt="">
							</li>
							<li>
								<img src="/assets/img/ecom/products/5764_YK7g.jpeg" class="max-w-100" alt="">
							</li>
						</ul>
					</div>
					<div class="col-4">
						<h3>Today’s sales</h3>
						<div class="m-20">
							<canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType" (chartHover)="chartHovered($event)"
							 (chartClick)="chartClicked($event)"></canvas>
						</div>

					</div>
				</div>
			</div>
		</li>-->
	</ul>
	<ul class="navbar-nav nav-right">
		<li class="nav-item dropdown avatar-menu hidden-sm-down" dropdown>
			<a mat-ripple href="javascript:void(0)" class="nav-link" dropdownToggle>
				<span class="meta">
					<span class="avatar">
						<img [src]="usuario.foto ? usuario.foto : 'https://firebasestorage.googleapis.com/v0/b/smr-compras.appspot.com/o/Icon-user.png?alt=media&token=4e00f093-e7e1-4ffc-b322-dfae626e0b00'" alt="" class="img-circle max-w-35">
						<!--<i class="badge mini success status"></i>-->
					</span>
					<span class="name">{{usuario.nome}}</span>
					<span class="caret"></span>
				</span>
			</a>
			<ul class="dropdown-menu btn-accent dropdown-menu-right" *dropdownMenu>
				<li>
					<a [routerLink]="['/usuario/' + usuario.slug]">
						<i class="zmdi zmdi-account"></i> Perfil</a>
				</li>
				<li>
					<a [routerLink]="['/authentication/login']">
						<i class="zmdi zmdi-sign-in"></i> Sair</a>
				</li>
			</ul>
		</li>
		<li class="nav-item">
			<a mat-ripple href="javascript:void(0)" (click)="search.searchStatus = true" class="nav-link">
				<i class="zmdi zmdi-search"></i>
			</a>
		</li>
		<!--<li class="nav-item dropdown dropdown-lg hidden-sm-down" dropdown>
			<a mat-ripple href="javascript:void(0)" class="nav-link" dropdownToggle>
				<i class="zmdi zmdi-invert-colors"></i>
			</a>
			<ul class="dropdown-menu dropdown-lg-menu dropdown-menu-right p-15 color-container" *dropdownMenu>
				<li class="title">
					<h3>Preset Color Options</h3>
				</li>
				<li>
					<div class="color-option-check">
						<label for="theme-a">
							<input id="theme-a" type="radio" name="setting-theme" [(ngModel)]="currentTheme" (ngModelChange)="setTheme()" value="A" />
							<span class="icon-check"></span>
							<span class="split">
								<span class="color bg-primary-theme-a"></span>
								<span class="color bg-shade-theme-a"></span>
							</span>
							<span class="color bg-menu-darkBlue"></span>
						</label>
					</div>
				</li>
				<li>
					<div class="color-option-check">
						<label for="theme-b">
							<input id="theme-b" type="radio" name="setting-theme" [(ngModel)]="currentTheme" (ngModelChange)="setTheme()" value="B" />
							<span class="icon-check"></span>
							<span class="split">
								<span class="color bg-primary-theme-b"></span>
								<span class="color bg-shade-theme-b"></span>
							</span>
							<span class="color bg-menu-darkBlue"></span>
						</label>
					</div>
				</li>
				<li>
					<div class="color-option-check">
						<label for="theme-c">
							<input id="theme-c" type="radio" name="setting-theme" [(ngModel)]="currentTheme" (ngModelChange)="setTheme()" value="C" />
							<span class="icon-check"></span>
							<span class="split">
								<span class="color bg-primary-theme-c"></span>
								<span class="color bg-shade-theme-c"></span>
							</span>
							<span class="color bg-menu-darkBlue"></span>
						</label>
					</div>
				</li>
				<li>
					<div class="color-option-check">
						<label for="theme-d">
							<input id="theme-d" type="radio" name="setting-theme" [(ngModel)]="currentTheme" (ngModelChange)="setTheme()" value="D" />
							<span class="icon-check"></span>
							<span class="split">
								<span class="color bg-primary-theme-d"></span>
								<span class="color bg-shade-theme-d"></span>
							</span>
							<span class="color bg-menu-darkBlue"></span>
						</label>
					</div>
				</li>
				<li>
					<div class="color-option-check">
						<label for="theme-e">
							<input id="theme-e" type="radio" name="setting-theme" [(ngModel)]="currentTheme" (ngModelChange)="setTheme()" value="E" />
							<span class="icon-check"></span>
							<span class="split">
								<span class="color bg-primary-theme-e"></span>
								<span class="color bg-shade-theme-e"></span>
							</span>
							<span class="color bg-menu-white"></span>
						</label>
					</div>
				</li>
				<li>
					<div class="color-option-check">
						<label for="theme-f">
							<input id="theme-f" type="radio" name="setting-theme" [(ngModel)]="currentTheme" (ngModelChange)="setTheme()" value="F" />
							<span class="icon-check"></span>
							<span class="split">
								<span class="color bg-primary-theme-f"></span>
								<span class="color bg-shade-theme-f"></span>
							</span>
							<span class="color bg-menu-white"></span>
						</label>
					</div>
				</li>
				<li>
					<div class="color-option-check">
						<label for="theme-g">
							<input id="theme-g" type="radio" name="setting-theme" [(ngModel)]="currentTheme" (ngModelChange)="setTheme()" value="G" />
							<span class="icon-gheck"></span>
							<span class="split">
								<span class="color bg-primary-theme-g"></span>
								<span class="color bg-shade-theme-g"></span>
							</span>
							<span class="color bg-menu-white"></span>
						</label>
					</div>
				</li>
				<li>
					<div class="color-option-check">
						<label for="theme-h">
							<input id="theme-h" type="radio" name="setting-theme" [(ngModel)]="currentTheme" (ngModelChange)="setTheme()" value="H" />
							<span class="icon-check"></span>
							<span class="split">
								<span class="color bg-primary-theme-h"></span>
								<span class="color bg-shade-theme-h"></span>
							</span>
							<span class="color bg-menu-white"></span>
						</label>
					</div>
				</li>
			</ul>
		</li>
		<li class="nav-item">
			<a mat-ripple href="javascript:void(0)" (click)="toggleAppRightSidebar()" class="nav-link">
				<i [ngClass]="{'mdi-playlist-minus': false, 'mdi-playlist-plus': true}" class="mdi"></i>
			</a>
		</li>-->
	</ul>
</nav>
<topbar-search #search></topbar-search>