<!-- Content Wrapper - Left Sidenav 2-->
<div id="content_wrapper" class="leftSidenav2-wrapper">
    <!--// Sidenav component container-->
    <mat-sidenav-container class="sidenav-container">
        <!-- Sidenav -->
        <mat-sidenav #leftSidenav2 mode="{{navMode}}" class="sidenav">
            <aside id="leftSidenav2">
                <nav class="submenu border-bottom">
                    <ul class="list-group note-labels">
                        <li mat-ripple class="list-group-item"><a href="javascript:void(0)"><i
                                class="zmdi zmdi-inbox text-blue"></i> Inbox</a></li>
                        <li mat-ripple class="list-group-item"><a href="javascript:void(0)"><i
                                class="zmdi zmdi-time text-orange"></i> Snoozed</a></li>
                        <li mat-ripple class="list-group-item"><a href="javascript:void(0)"><i
                                class="zmdi zmdi-check text-green"></i> Done</a></li>
                    </ul>
                </nav>
                <nav class="submenu border-bottom m-t-10">
                    <ul class="list-group note-labels">
                        <li mat-ripple class="list-group-item"><a href="javascript:void(0)"><i
                                class="zmdi zmdi-email-open"></i> Drafts</a></li>
                        <li mat-ripple class="list-group-item"><a href="javascript:void(0)"><i
                                class="zmdi zmdi-mail-send"></i> Sent</a></li>
                        <li mat-ripple class="list-group-item"><a href="javascript:void(0)"><i
                                class="mdi mdi-bell-ring"></i> Reminders</a></li>
                        <li mat-ripple class="list-group-item"><a href="javascript:void(0)"><i
                                class="zmdi zmdi-delete"></i> Trash</a></li>
                        <li mat-ripple class="list-group-item"><a href="javascript:void(0)"><i
                                class="zmdi zmdi-comment-alert"></i> Spam</a></li>
                        <li mat-ripple class="list-group-item"><a href="javascript:void(0)"><i
                                class="zmdi zmdi-account-box"></i> Contact</a></li>
                    </ul>
                </nav>
                <nav class="submenu border-bottom m-t-10">
                    <ul class="list-group note-labels">
                        <li mat-ripple class="list-group-item"><a href="javascript:void(0)"><i
                                class="zmdi zmdi-archive"></i> Archive</a></li>
                        <li mat-ripple class="list-group-item"><a href="javascript:void(0)"><i
                                class="zmdi zmdi-delete"></i> Trash</a></li>
                    </ul>
                </nav>
                <nav class="submenu border-bottom m-t-10">
                    <ul class="list-group note-labels">
                        <li mat-ripple class="list-group-item"><a href="javascript:void(0)" class="text-salmon"><i
                                class="zmdi zmdi-shopping-cart"></i> Purchases</a></li>
                        <li mat-ripple class="list-group-item"><a href="javascript:void(0)" class="text-turquoise"><i
                                class="zmdi zmdi-trending-up"></i> Finance</a></li>
                        <li mat-ripple class="list-group-item"><a href="javascript:void(0)" class="text-purple"><i
                                class="zmdi zmdi-comments"></i> Social</a></li>
                        <li mat-ripple class="list-group-item"><a href="javascript:void(0)" class="text-blue"><i
                                class="zmdi zmdi-flag"></i> Updates</a></li>
                    </ul>
                </nav>
                <nav class="submenu">
                    <ul class="list-group note-labels">
                        <li mat-ripple class="list-group-item"><a href="javascript:void(0)"><i
                                class="zmdi zmdi-settings"></i> Settings</a></li>
                        <li mat-ripple class="list-group-item"><a href="javascript:void(0)"><i
                                class="zmdi zmdi-comment-alert"></i> Send feedback</a></li>
                    </ul>
                </nav>
            </aside>
        </mat-sidenav>
        <!-- /END Sidenav -->
        <!-- Page Content -->
        <div class="content">
            <div class="header-wrapper header-sm">
                <header class="container-fluid">
                    <div class="row">
                        <h1>Mail</h1>
                    </div>
                </header>
                <ul class="actions icons top-left">
                    <li>
                        <a href="javascript:void(0)" (click)="leftSidenav2.toggle()">
                            <i class="zmdi zmdi-menu"></i>
                        </a>
                    </li>
                </ul>
                <form name="search" role="search" action="" class="header-search-form">
                    <div class="form-group" [ngClass]="{'is-focused': isFocused }">
                        <span class="header-search-icon"> <i class="zmdi zmdi-search"></i> </span>
                        <input type="text" placeholder="Search mail..." class="form-control" id="content_header_search"
                               [(ngModel)]="term" name="term" autocomplete="off" (focus)="isFocused = true;"
                               (blur)="isFocused = false;">
                    </div>
                    <button type="submit" class="hidden btn btn-default">Submit</button>
                </form>
            </div>
            <div class="content-body min-h-900">
                <div class="block-header">
                    <mat-checkbox [(ngModel)]="selectedAll" (change)="selectAll();"></mat-checkbox>
                    <ul class="actions icons top-left">
                        <li class="dropdown" dropdown>
                            <a href="javascript:void(0)" *dropdownToggle>
                                <i class="zmdi zmdi-folder"></i>
                            </a>
                            <ul class="dropdown-menu btn-primary dropdown-menu-left" *dropdownMenu>
                                <li>
                                    <a href="javascript:void(0)">
                                        <i class="zmdi zmdi-inbox text-blue m-r-15"></i> Inbox</a>
                                </li>
                                <li role="separator" class="divider"></li>
                                <li>
                                    <a href="javascript:void(0)">
                                        <i class="zmdi zmdi-time text-orange m-r-15"></i> Snoozed</a>
                                </li>
                                <li><a href="javascript:void(0)"><i class="zmdi zmdi-check text-green m-r-15"></i> Done</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        <i class="zmdi zmdi-archive m-r-15"></i> Archive</a>
                                </li>
                                <li><a href="javascript:void(0)"><i class="zmdi  zmdi-delete m-r-15"></i> Trash</a></li>
                            </ul>
                        </li>
                        <li class="dropdown" dropdown>
                            <a href="javascript:void(0)" *dropdownToggle>
                                <i class="zmdi zmdi-label-alt"></i>
                            </a>
                            <ul class="dropdown-menu btn-primary dropdown-menu-left" *dropdownMenu>
                                <li>
                                    <a href="javascript:void(0)" class="text-gray">
                                        <i class="zmdi zmdi-comment-alert m-r-15"></i> Spam</a>
                                </li>
                                <li role="separator" class="divider"></li>
                                <li>
                                    <a href="javascript:void(0)" class="text-salmon">
                                        <i class="zmdi zmdi-shopping-cart m-r-15"></i> Purchases</a>
                                </li>
                                <li><a href="javascript:void(0)" class="text-turquoise"><i
                                        class="zmdi zmdi-trending-up m-r-15"></i> Finance</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" class="text-purple">
                                        <i class="zmdi zmdi-comments m-r-15"></i> Social</a>
                                </li>
                                <li><a href="javascript:void(0)" class="text-blue"><i class="zmdi zmdi-flag m-r-15"></i>
                                    Updates</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="actions icons top-right">
                        <li *ngIf="checked">
                            <a href="javascript:void(0)"> <i class="mdi mdi-pin"></i> </a>
                        </li>
                        <li *ngIf="checked">
                            <a href="javascript:void(0)"> <i class="zmdi zmdi-time"></i> </a>
                        </li>
                        <li *ngIf="checked">
                            <a href="javascript:void(0)"> <i class="zmdi zmdi-delete"></i> </a>
                        </li>
                        <li *ngIf="checked">
                            <a href="javascript:void(0)"> <i class="zmdi zmdi-check"></i> </a>
                        </li>
                        <li class="dropdown" dropdown>
                            <a href="javascript:void(0)" dropdownToggle>
                                <i class="zmdi zmdi-more-vert"></i>
                            </a>
                            <ul class="dropdown-menu btn-primary dropdown-menu-right" *dropdownMenu>
                                <li class="title">Move to</li>
                                <li>
                                    <a href="javascript:void(0)" class="text-gray">
                                        <i class="zmdi zmdi-comment-alert m-r-15"></i> Spam</a>
                                </li>
                                <li role="separator" class="divider"></li>
                                <li>
                                    <a href="javascript:void(0)" class="text-salmon">
                                        <i class="zmdi zmdi-shopping-cart m-r-15"></i> Purchases</a>
                                </li>
                                <li><a href="javascript:void(0)" class="text-turquoise"><i
                                        class="zmdi zmdi-trending-up m-r-15"></i> Finance</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" class="text-purple">
                                        <i class="zmdi zmdi-comments m-r-15"></i> Social</a>
                                </li>
                                <li><a href="javascript:void(0)" class="text-blue"><i class="zmdi zmdi-flag m-r-15"></i>
                                    Updates</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:void(0)"> <i class="zmdi zmdi-check-all"></i> </a>
                        </li>
                    </ul>
                </div>
                <mat-accordion [displayMode]="displayMode" [multi]="multi">
                    <mat-expansion-panel *ngFor="let item of listItems | filter:term" class="md-expansion"
                                         #{{item.mailId}}>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <mat-checkbox [(ngModel)]="item.selected"
                                              (change)="checkIfAllSelected();onMailChecked($event)"
                                              (click)="stopProp($event)"></mat-checkbox>
                                <span class="avatar">
																		<img src="/assets/img/profiles/{{item.fromImg}}"
                                                                             alt=""
                                                                             class="rounded-circle img-xs m-r-10">
																	</span>
                                <div class="sender-wrapper"><span class="sender">{{item.from}}</span></div>
                                <div class="info-wrapper"><span class="info">	{{item.subject}}</span></div>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p class="p-t-30">
                            {{item.body}}
                        </p>
                        <mat-action-row>
                            <ul class="actions bottom-left">
                                <li><span class="avatar"><img src="/assets/img/profiles/{{item.profileImg}}" alt=""
                                                              class="rounded-circle img-xs"></span></li>
                            </ul>
                            <a href="javascript:void(0)" mat-ripple class="btn btn-default btn-flat"><i
                                    class="zmdi zmdi-mail-reply"></i> REPLY</a>
                            <a href="javascript:void(0)" mat-ripple class="btn btn-default  btn-flat">FORWARD <i
                                    class="zmdi zmdi-forward"></i></a>
                            <a href="javascript:void(0)" mat-ripple class="btn btn-default btn-flat">CANCEL</a>
                        </mat-action-row>
                    </mat-expansion-panel>
                </mat-accordion>

            </div>
        </div>
        <!--  Footer Wrapper -->
        <footer id="footer_wrapper" class="footer_wrapper"></footer>
    </mat-sidenav-container>
    <!-- /END Sidenav component container -->
    <!-- Compose Mail Component -->
    <smd-fab-speed-dial [(open)]="open" [direction]="direction" [animationMode]="animationMode" [fixed]="fixed">
        <smd-fab-trigger [spin]="spin">
            <button mat-fab (click)="_click('trigger')">
                <mat-icon>add</mat-icon>
            </button>
        </smd-fab-trigger>
        <smd-fab-actions>
            <button mat-mini-fab (click)="isComposeActive = !isComposeActive;">
                <mat-icon>edit</mat-icon>
            </button>
            <button mat-mini-fab (click)="isComposeActive = !isComposeActive;"><img src="assets/img/profiles/07.jpg"
                                                                                   alt=""
                                                                                   class="rounded-circle shadow-3dp">
            </button>
            <button mat-mini-fab (click)="isComposeActive = !isComposeActive;"><img src="assets/img/profiles/05.jpg"
                                                                                   alt=""
                                                                                   class="rounded-circle shadow-3dp">
            </button>
            <button mat-mini-fab (click)="isComposeActive = !isComposeActive;"><img src="assets/img/profiles/12.jpg"
                                                                                   alt=""
                                                                                   class="rounded-circle shadow-3dp">
            </button>
        </smd-fab-actions>
    </smd-fab-speed-dial>
    <section id="mail_compose_wrapper" [ngClass]="{'open' : isComposeActive}">
        <div class="tippy-top">
            <ul class="actions icons top-left">
                <li>
                    <a href="javascript:void(0)"> <i class="zmdi zmdi-email-open"></i> </a>
                </li>
            </ul>
            <ul class="actions icons top-right">
                <li><a href="javascript:void(0)" data-compose="min"><i class="zmdi zmdi-window-minimize"></i></a></li>
                <li><a href="javascript:void(0)" data-compose="expand"> <i class="mdi mdi-arrow-expand"></i> </a></li>
                <li><a href="javascript:void(0)" (click)="isComposeActive = !isComposeActive;"> <i
                        class="zmdi zmdi-close"></i></a></li>
            </ul>
        </div>
        <div class="row p-0 m-0">
            <form class="form-horizontal compose-form">
                <div class="form-group row p-0 m-0 max-h-50">
                    <div class="col p-0 m-0">
                        <mat-form-field floatPlaceholder="never" class="float-never">
                            <input matInput placeholder="To" class="form-control" type="text">
                        </mat-form-field>
                    </div>
                </div>
                <div class="form-group row p-0 m-0 max-h-50">
                    <div class="col  p-0 m-0">
                        <mat-form-field floatPlaceholder="never" class="float-never">
                            <input matInput placeholder="Subject" class="form-control" type="text">
                        </mat-form-field>
                    </div>
                </div>
                <div class="form-group p-0 p-t-20 m-0"><textarea class="form-control message"
                                                                 placeholder="Compose email" rows="20"
                                                                 id="email-message"></textarea></div>
                <footer id="compose-footer">
                    <ul class="actions icons bottom-left m-b-15">
                        <li>
                            <a href="javascript:void(0)"> <i class="zmdi zmdi-delete"></i> </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)"> <i class="zmdi zmdi-format-bold"></i></a>
                        </li>
                        <li>
                            <a href="javascript:void(0)"> <i class="zmdi zmdi-format-italic"></i></a>
                        </li>
                        <li><a href="javascript:void(0)"><i class="zmdi zmdi-format-underlined"></i></a>
                        </li>
                        <li>
                            <a href="javascript:void(0)"> <i class="zmdi zmdi-format-color-text"></i> </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)"> <i class="zmdi zmdi-format-size"></i> </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)"> <i class="zmdi zmdi-attachment-alt"></i> </a>
                        </li>
                    </ul>
                    <ul class="actions bottom-right m-b-15 m-r-10">
                        <li><a href="javascript:void(0)" class="btn btn-royalBlue"> Send </a></li>
                    </ul>
                </footer>
            </form>
        </div>
    </section>
</div>
<!-- /END Content Wrapper - Left Sidenav 2-->
