<div id="content_wrapper" class="fullWidth3-wrapper">
	<div class="content">
		<div class="header-wrapper overlay header-md">
			<header class="container-fluid">
				<div class="row">
					<div class="col">
						<h1>Form Elements</h1>
					</div>
				</div>
			</header>
		</div>
		<div class="content-body">
			<div class="row row-eq-height flex-card">
				<div class="col-lg">
					<div class="card">
						<header class="card-header">
							<h2 class="card-title">Basic inputs &amp; Textarea</h2>
						</header>
						<div class="card-block p-b-50">
							<form class="form-horizontal">
								<div class="form-group row">
									<label class="col-2 col-form-label text-right">Name:</label>
									<div class="col-10">
										<mat-form-field class="float-never">
											<input matInput class="form-control" type="text">
										</mat-form-field>
									</div>
								</div>
								<div class="form-group row">
									<label class="col-2 col-form-label text-right">Email:</label>
									<div class="col-10">
										<mat-form-field class="float-never">
											<input matInput class="form-control" type="email">
										</mat-form-field>
									</div>
								</div>
								<div class="form-group row">
									<label class="col-2 col-form-label text-right">Password:</label>
									<div class="col-10">
										<mat-form-field class="float-never">
											<input matInput class="form-control" type="password">
										</mat-form-field>
									</div>
								</div>
								<div class="form-group row">
									<label class="col-2 col-form-label text-right">Textarea:</label>
									<div class="col-10">
										<mat-form-field class="float-never">
											<textarea matInput class="form-control"></textarea>
										</mat-form-field>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
				<div class="col-lg">
					<div class="card">
						<header class="card-header">
							<h2 class="card-title">Inputs with floating labels</h2>
						</header>
						<div class="card-block p-b-50">
							<form class="form-horizontal">
								<div class="form-group row">
									<div class="col">
										<mat-form-field class="float-auto">
											<input matInput placeholder="Name" class="form-control" type="text">
										</mat-form-field>
									</div>
								</div>
								<div class="form-group row">
									<div class="col">
										<mat-form-field class="float-auto">
											<input matInput placeholder="Email" class="form-control" type="email">
										</mat-form-field>
									</div>
								</div>
								<div class="form-group row">
									<div class="col">
										<mat-form-field class="float-auto">
											<input matInput placeholder="Password" class="form-control" type="password">
										</mat-form-field>
									</div>
								</div>
								<div class="form-group row">
									<div class="col">
										<mat-form-field class="float-auto">
											<textarea matInput placeholder="Textarea" class="form-control"></textarea>
										</mat-form-field>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
			<div class="row row-eq-height">
				<div class="col-xl">
					<div class="card p-b-20 h-200">
						<header class="card-header ">
							<h2 class="card-title">Basic Select</h2>
						</header>
						<div class="card-block">
							<div class="form-group">
								<mat-form-field>
								<mat-select class="block" placeholder="Drink" [(ngModel)]="currentDrink" [required]="drinksRequired" [disabled]="drinksDisabled" #drinkControl="ngModel">
									<mat-option>None</mat-option>
									<mat-option *ngFor="let drink of drinks" [value]="drink.value" [disabled]="drink.disabled">
										{{ drink.viewValue }}
									</mat-option>
								</mat-select>
							</mat-form-field>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xl">
					<div class="card p-b-20 h-200">
						<header class="card-header">
							<h2 class="card-title">Multi Select</h2>
						</header>
						<div class="card-block">
							<mat-form-field>
							<mat-select class="block" multiple placeholder="Pokemon" [(ngModel)]="currentPokemon" [required]="pokemonRequired" [disabled]="pokemonDisabled" #pokemonControl="ngModel">
								<mat-option *ngFor="let creature of pokemon" [value]="creature.value">
									{{ creature.viewValue }}
								</mat-option>
							</mat-select>
						</mat-form-field>
						</div>
					</div>
				</div>
				<div class="col-xl">
					<div class="card p-b-20 h-200">
						<header class="card-header ">
							<h2 class="card-title">Option Group Select</h2>
						</header>
						<div class="card-block">
							<mat-form-field>
							<mat-select class="block" placeholder="Pokemon" [(ngModel)]="currentPokemonFromGroup">
								<mat-optgroup *ngFor="let group of pokemonGroups" [label]="group.name" [disabled]="group.disabled">
									<mat-option *ngFor="let creature of group.pokemon" [value]="creature.value">
										{{ creature.viewValue }}
									</mat-option>
								</mat-optgroup>
							</mat-select>
						</mat-form-field>
						</div>
					</div>
				</div>
			</div>
			<div class="row row-eq-height">
				<div class="col-lg">
					<div class="card h-400">
						<header class="card-header">
							<h2 class="card-title">Checkbox</h2>
						</header>
						<div class="card-block">
							<section class="example-section">
								<mat-checkbox class="example-margin" [(ngModel)]="checked">Checked</mat-checkbox>
								<mat-checkbox class="example-margin" [(ngModel)]="indeterminate">Indeterminate
								</mat-checkbox>
							</section>
							<section class="example-section">
								<label class="example-margin">Align:</label>
								<mat-radio-group [(ngModel)]="align" class="m-t-5">
									<mat-radio-button class="example-margin" value="start">Start</mat-radio-button>
									<mat-radio-button class="example-margin" value="end">End</mat-radio-button>
								</mat-radio-group>
							</section>
							<section class="example-section">
								<mat-checkbox class="example-margin" [(ngModel)]="disabled">Disabled</mat-checkbox>
							</section>
						</div>
						<div class="card-footer">
							<h2>Result</h2>
							<section class="example-section">
								<mat-checkbox class="example-margin" [checked]="checked" [indeterminate]="indeterminate"  [disabled]="disabled">
									I'm a checkbox
								</mat-checkbox>
							</section>
						</div>
					</div>
				</div>
				<div class="col-lg">
					<div class="card h-400">
						<header class="card-header">
							<h2 class="card-title">Radio</h2>
						</header>
						<div class="card-block">
							<mat-radio-group class="example-radio-group" [(ngModel)]="favoriteSeason">
								<mat-radio-button class="example-radio-button" *ngFor="let season of seasons" [value]="season">
									{{season}}
								</mat-radio-button>
							</mat-radio-group>
						</div>
						<div class="card-footer">
							<h2>Result</h2>
							<div class="example-selected-value">Your favorite season is: {{favoriteSeason}}</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<footer id="footer_wrapper" class="footer_wrapper"></footer>
