<div id="content_wrapper" class="boxedlayout1-wrapper">
    <div class="content">
        <div class="header-wrapper header-sm">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <header>
                            <h1>Tooltips &amp; Popovers</h1>
                        </header>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-body container">
            <div class="row">
                <div class="col">
                    <div class="card">
                        <header class="card-header">
                            <h2 class="card-title">Tooltips</h2>
                            <small class="card-subtitle">Four options are available: top, right, bottom, and left
                                aligned.
                            </small>
                        </header>
                        <div class="card-block">
                            <p>

                                <mat-form-field><input matInput placeholder="Message" type="text"
                                                            [(ngModel)]="message"></mat-form-field>
                            </p>
                            <button #tooltip="matTooltip" type="button" class="btn btn-info" [matTooltip]="message"
                                    [matTooltipPosition]="position" [matTooltipDisabled]="disabled"
                                    [matTooltipShowDelay]="showDelay" [matTooltipHideDelay]="hideDelay"
                                    [matTooltipClass]="{'red-tooltip': showExtraClass}">Mouse over to see the tooltip
                            </button>
                        </div>
                        <div class="card-footer">
                            <mat-radio-group [(ngModel)]="position">
                                <mat-radio-button value="below">Below</mat-radio-button>
                                <mat-radio-button value="above">Above</mat-radio-button>
                                <mat-radio-button value="left">Left</mat-radio-button>
                                <mat-radio-button value="right">Right</mat-radio-button>
                                <mat-radio-button value="before">Before</mat-radio-button>
                                <mat-radio-button value="after">After</mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <header class="card-header">
                            <h2 class="card-title">Popovers</h2>
                            <small class="card-subtitle">Four options are available: top, right, bottom, and left
                                aligned.
                            </small>
                        </header>
                        <div class="card-block btn-equal-width">
                            <button type="button" class="btn btn-info btn-block"
                                    popover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."
                                    popoverTitle="Popover on left" placement="left">
                                Popover on left
                            </button>

                            <button type="button" class="btn btn-info  btn-block"
                                    popover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."
                                    popoverTitle="Popover on top" placement="top">
                                Popover on top
                            </button>

                            <button type="button" class="btn btn-info  btn-block"
                                    popover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."
                                    popoverTitle="Popover on bottom" placement="bottom">
                                Popover on bottom
                            </button>

                            <button type="button" class="btn btn-info  btn-block"
                                    popover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."
                                    popoverTitle="Popover on right" placement="right">
                                Popover on right
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer id="footer_wrapper" class="footer_wrapper"></footer>
