<div id="content_wrapper" class="fullWidth1-wrapper">
  <div class="content">
    <header class="header-wrapper header-sm d-print-none">
      <h1>Contratos</h1>
    </header>
    <div class="content-body">
      <div class="row" style="margin-bottom: 95px; margin-top: -94px;">
        <button *ngIf="role !== 'normal'" mat-ripple class="btn btn-primary"
          style="right: 15px; position: fixed; margin-bottom: 5px" [routerLink]="['/contratos/novo']">
          Novo
        </button>
      </div>

      <mat-accordion>
        <mat-expansion-panel *ngFor="let contrato of contratos; let i = index">
          <mat-expansion-panel-header>
            <mat-panel-title style="font-weight: bold" class="col-md-4">
              {{ contrato.fornecedorObj ? contrato.fornecedorObj.nome : "" }}
            </mat-panel-title>
            <mat-panel-description class="col-md-8">
              <div class="col-md-8">
                {{ contrato.escopo }}
              </div>
              <div class="col-md-2" style="text-align: center">
                {{ contrato.numeroPO }}
              </div>
              <div class="col-md-2" style="text-align: end">
                {{ contrato.validade | date: "dd/MM/yyyy" }}
              </div>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div *ngIf="contrato.arquivo">
            <a [href]="contrato.arquivo.downloadURL"><i class="zmdi zmdi-download"></i> {{ contrato.arquivo.name }}</a>
          </div>
          <ul class="lista">
            <li class="item" *ngFor="let item of contrato.itens; let j = index;">
              <span class="marcador"> {{ j + 1 }} </span>
              {{ item.descricao }}
            </li>
          </ul>
          <mat-action-row *ngIf="role !== 'normal'">
            <button mat-button style="border: 1px solid red;" (click)="delete(contrato.id)">
              <i class="zmdi zmdi-delete" style="padding-right: 5px"></i>Delete
            </button>
            <button mat-button style="border: 1px solid red;" [routerLink]="['/contratos/' + contrato.id]">
              <i class="zmdi zmdi-edit" style="padding-right: 5px"></i>Editar
            </button>
          </mat-action-row>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
</div>

<footer id="footer_wrapper" class="footer_wrapper d-print-none"></footer>
