<div id="content_wrapper" class="fullWidth1-wrapper">
  <div class="content">
    <header class="header-wrapper header-sm d-print-none">
      <h1>Contrato</h1>
    </header>
    <div class="content-body">
      <div class="card card-datatable">
        <div class="card-block p-0 col-sm-12">
          <form novalidate [formGroup]="contratoForm" *ngIf="render">
            <div class="row">
              <div class="col-sm-12 block-contrato">
                <div class="col-sm-6">
                  <label class="m-0 p-0">Fornecedor</label>
                  <span class="group">
                    <mat-form-field>
                      <input type="text" matInput formControlName="fornecedor" [matAutocomplete]="fornecedorauto"
                        class="fornecedorautocomplete" />
                    </mat-form-field>

                    <mat-autocomplete #fornecedorauto="matAutocomplete" [displayWith]="displayFn">
                      <mat-option *ngFor="let tipo of filteredFornecedores | async" [value]="tipo.id">{{ tipo.nome }}
                      </mat-option>
                    </mat-autocomplete>
                  </span>
                </div>
                <div class="col-sm-3">
                  <label class="m-0 p-0">Validade</label>
                  <input type="date" matInput formControlName="validade" class="inputs" />
                </div>
                <div class="col-sm-3">
                  <label class="m-0 p-0">PO</label>
                  <input type="text" matInput formControlName="numeroPO" class="inputs" />
                </div>
              </div>
              <div class="col-sm-12 block-contrato">
                <div class="col-sm-12">
                  <label class="m-0 p-0">Escopo</label>
                  <input type="text" matInput formControlName="escopo" class="inputs" />
                </div>
              </div>
              <div class="col-sm-12 block-contrato">
                <div class="col-sm-12" style="line-height: 2;">
                  <label class="m-0 p-0">Arquivo</label>
                  <app-file-upload formControlName="arquivo"></app-file-upload>
                </div>
              </div>
            </div>
            <div class="row itens" formArrayName="itens">
              <div class="col-sm-12">
                <div class="row">
                  <hr style="width: 100%" />
                  <div class="col-sm-11" style="margin-top: -30px; text-align: center">
                    <span
                      style="background-color: #ffffff; padding-left: 15px; padding-right: 15px; font-weight: bold;">Itens
                      do Contrato</span>
                  </div>
                  <div class="col-sm-1">
                    <button mat-ripple class="btn btn-fab  btn-primary d-print-none" style="margin-top: -60px"
                      (click)="addItem()">
                      <i class="zmdi zmdi-plus"></i>
                    </button>
                  </div>
                </div>
              </div>
              <div class="row" style="margin-left: 15px;" *ngFor="let item of itensFormArray.controls; let i = index"
                [formGroupName]="i">
                <div class="col-sm-11">
                  <label class="m-0 p-0">Descrição</label>
                  <input type="text" matInput formControlName="item" [value]="i" style="display: none" />
                  <input type="text" matInput formControlName="descricao" class="inputs" />
                </div>
                <div class="col-sm-1" style="padding-left: 5px; padding-top: 28px;">
                  <a class="smr-delete" (click)="removeItem(i)">
                    <i class="zmdi zmdi-delete"></i>
                  </a>
                </div>
              </div>
            </div>
            <mat-action-row>
              <button mat-ripple class="btn btn-primary" style="right: 15px; position: absolute;" (click)="salvar()">
                Salvar
              </button>
            </mat-action-row>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
