.marcador {
  background-color: red;
  border-radius: 100%;
  height: 24px;
  width: 24px;
  min-height: 24px;
  min-width: 24px;
  color: white;
  /* padding: 10px; */
  font-size: 16px;
  margin: 0px 5px 5px 5px;
  justify-content: center;
  display: flex;
  align-items: center;
}

.lista {
  list-style: none;
  margin: 5px 0px 10px -40px;

}

.item {
  border-bottom: 1px solid rgba($color: #000000, $alpha: 0.2);
  border-bottom-width: 80%;
  min-height: 50px;
  display: flex;
  align-items: center;
}
