.fornecedorautocomplete {
  border: solid 1px rgb(169, 169, 169) !important;
  line-height: 32px !important;
  margin-top: -20px !important;
}

.card-block {
  margin: 20px;
}

.card-datatable {
  min-height: 400px;
  padding-bottom: 40px;
}

.inputs {
  border: solid 1px rgb(169, 169, 169);
  line-height: 32px !important;
  margin-top: 5px;
}

.block-contrato {
  display: -webkit-box;
  flex-flow: column;
  width: 100%;
}

.itens {
  margin-top: 30px;
  margin-bottom: 50px;
  display: inline;
}

.smr-delete {
  font-size: 24px;
}
:host /deep/ {
  .mat-form-field-appearance-legacy .mat-form-field-underline {
    height: 0px;
  }
  .card-block {
    width: auto;
  }
}
