<div id="login_wrapper">
    <div class="logo">
        <img src="assets/img/logotipo-smr-automotive.png" alt="logo" class="logo-img">
    </div>
    <div id="login_content">
        <header>
            <h1 class="login-title m-b-20">
                Sua sessão foi bloqueada
            </h1>
        </header>
        <figure class="text-center m-b-20">

            <img src="/assets/img/profiles/02.jpg" alt="" class="rounded-circle max-w-100">
            <span class="icon-locked"><i class="zmdi zmdi-lock"></i></span>
        </figure>

        <p class="text-center">
            Devido a sua inatividade sua conexão foi suspensa, entre com seu email e sua senha.
        </p>
        <div class="login-body">
            <form class="form-horizontal">
                <div class="form-group row">
                    <label class="sr-only">Email: </label>
                    <div class="col-md">
                        <mat-form-field floatPlaceholder="auto" class="float-auto">
                            <input matInput placeholder="fernanda@agenciaondaforte.com.br" class="form-control" type="email" disabled>
                        </mat-form-field>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="sr-only">Senha: </label>
                    <div class="col-md">
                        <mat-form-field floatPlaceholder="auto" class="float-auto">
                            <input matInput placeholder="Password" class="form-control" type="password">
                        </mat-form-field>
                    </div>
                </div>
                <a href="javascript:void(0)" class="font-size-12 float-right" data-toggle="register">Não é Fernanda Mendonça? </a>
                <a href="javascript:void(0)" class="btn btn-info btn-block m-t-40">Desbloquear</a>
            </form>
        </div>
    </div>
</div>
