.fechar{
    position: absolute;
    cursor: pointer;
    right: 20px;
}
input.cor{
    color: #000 !important;
    background-color: #fff;
}


.btn-ver {
    position: absolute;
    right: 25px;
    top: 40px;
}

input {
    width: 100%;
    text-indent: 5px;
    border-radius: 3px;
    border-width: 1px !important;
    border-style: solid;
    border-color: rgb(169, 169, 169);

}

select {
    width: 100%;
    height: 41px;
    border-radius: 3px;
}

.sessao {
    font-weight: bold;
}