<div id="content_wrapper" class="fullWidth1-wrapper">
  <div class="content">
    <header class="header-wrapper header-sm">
      <h1>Usuários</h1>
    </header>
    <div class="content-body">
      <div class="card card-datatable">
        <header class="card-header p-30">
          <h2 class="card-title">Usuários</h2>
        </header>
        <hr>
        <div class="card-block p-0 col-sm-12">
          <div class="row">
            <div class="col-sm-4">
              <div class="row">
                <div class="col-sm-12" style="padding-left: 45px; padding-bottom: 15px;">
                  <div class="form-label sessao">Foto</div>
                  <img *ngIf="usuario.foto" [src]="usuario?.foto" width="100%" style="border-radius: 5px; padding-top: 10px;" />
                  <img *ngIf="!usuario.foto" src="https://firebasestorage.googleapis.com/v0/b/smr-compras.appspot.com/o/Icon-user.png?alt=media&token=4e00f093-e7e1-4ffc-b322-dfae626e0b00"
                    style="border-radius: 5px; padding-top: 10px;" />
                  <div class="custom-file">
                    <input type="file" class="custom-file-input" name="example-file-input-custom" (change)="handleFileInput($event.target.files[0])">
                    <label class="custom-file-label">
                      <span style="font-size: 10px">{{usuario?.foto |slice:57}}</span>
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-8" style="line-height: 2.2; padding-right: 30px;">
              <form novalidate [formGroup]="usuarioForm" *ngIf="render">
                <div class="form-label sessao">Informações do usuário</div>
                <div class="row">
                  <div class="col-sm-12">
                    <div class="form-label">Nome</div>
                    <input type="text" placeholder="Nome" formControlName="nome">
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    <div class="form-label">E-mail</div>
                    <input type="text" placeholder="E-mail" formControlName="email">
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    <div class="form-label">Departamento</div>
                    <select formControlName="departamento">
                      <option ng-value="undefined" > Escolha o departamento </option>
                      <option *ngFor="let dpto of departamentos" [value]="dpto.nome"> {{dpto.nome}}</option>
                    </select>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    <div class="form-label">Permissão</div>
                    <select formControlName="role">
                      <option value="normal">Normal</option>
                      <option value="administrador">Administrador</option>
                    </select>
                  </div>
                </div>
                </form>
                <form [formGroup]="senhaForm" novalidate>
                <div class="row" >
                  <div class="col-sm-6">
                    <div class="form-label">{{usuario.id ? 'Senha Atual' : 'Senha'}}</div>
                    <input [type]="tipoPwdAtual" placeholder="Senha Atual" formControlName="senhaAtual">
                    <a class="btn-ver" (click)="tipoPwdAtual == 'text' ?  tipoPwdAtual = 'password' : tipoPwdAtual = 'text'">
                      <i class="zmdi  zmdi-eye zmdi-hc-fw" *ngIf="tipoPwdAtual == 'password'"></i>
                      <i class="zmdi zmdi-eye-off zmdi-hc-fw" *ngIf="tipoPwdAtual == 'text'"></i>
                    </a>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-label">{{usuario.id ? 'Nova Senha' : 'Repita a Senha'}}</div>
                    <input [type]="tipoPwdNovo" placeholder="Senha Nova" formControlName="senhaNova">
                    <a class="btn-ver" (click)="tipoPwdNovo == 'text' ?  tipoPwdNovo = 'password' : tipoPwdNovo = 'text'">
                      <i class="zmdi  zmdi-eye zmdi-hc-fw" *ngIf="tipoPwdNovo == 'password'"></i>
                      <i class="zmdi zmdi-eye-off zmdi-hc-fw" *ngIf="tipoPwdNovo == 'text'"></i>
                    </a>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="card-footer" style="min-height: 105px">
          <hr>
          <button mat-ripple class="btn btn-primary" style="right: 15px; position: absolute;" (click)="updateUser()">Salvar</button>
        </div>
      </div>
    </div>
  </div>
</div>
<footer id="footer_wrapper" class="footer_wrapper"></footer>