<div id="content_wrapper" class="fullWidth1-wrapper">
    <div class="content">
        <header class="header-wrapper header-sm d-print-none">
            <h1>Relatório</h1>
        </header>
        <div class="content-body">
            <div class="card">
                <header class="card-header p-30">
                    <h2 class="card-title">Filtros</h2>
                    <ul class="actions icons top-right d-print-none">
                        <li>
                            <a href="javascript:void(0)" (click)="hideFilter = !hideFilter;">
                                <i class="zmdi zmdi-filter-list"></i>
                            </a>
                        </li>
                    </ul>
                </header>
                <div class="card" *ngIf="!hideFilter">
                    <div class="card-block p-0">
                        <div class="col-md-12" style="display: inline-flex;">
                            <div class="col-md-6" style="display: block;">
                                <div class="row">
                                    <div class="col-md-12">
                                        <span>Escolha os status desejados</span>
                                        <div style="margin-top: 20px; margin-bottom: 20px;">
                                            <a (click)="showRecusadas = !showRecusadas; filtrar();" style="margin-right: 10px; margin-left: 20px">
                                                <img [class.ligado]="showRecusadas" [class.desligado]="!showRecusadas"
                                                    src="/assets/img/recusada.png" alt="Recusada" class="max-w-50 radius"
                                                    #tooltip="matTooltip" matTooltip="Recusada" style="border-color: #E10000;" />
                                            </a>
                                            <a (click)="showFila = !showFila; filtrar();" style="margin-right: 10px; margin-left: 10px">
                                                <img [class.ligado]="showFila" [class.desligado]="!showFila" src="/assets/img/em-fila.png"
                                                    alt="Em Fila" class="max-w-50 radius" #tooltip="matTooltip"
                                                    matTooltip="Em Fila" style="border-color: #FFE600;" />
                                            </a>
                                            <a (click)="showCotacao = !showCotacao; filtrar();" style="margin-right: 10px; margin-left: 10px">
                                                <img [class.ligado]="showCotacao" [class.desligado]="!showCotacao" src="/assets/img/cotacao.png"
                                                    alt="Em Cotação" class="max-w-50 radius" #tooltip="matTooltip"
                                                    matTooltip="Negociado" style="border-color: #00B2F3;" />
                                            </a>
                                            <a (click)="showNegociado = !showNegociado; filtrar();" style="margin-right: 10px; margin-left: 10px">
                                                <img [class.ligado]="showNegociado" [class.desligado]="!showNegociado"
                                                    src="/assets/img/negociado.png" alt="Negociado" class="max-w-50 radius"
                                                    #tooltip="matTooltip" matTooltip="Negociado" style="border-color: #808080;" />
                                            </a>
                                            <a (click)="showPO = !showPO; filtrar();" style="margin-right: 10px; margin-left: 10px">
                                                <img [class.ligado]="showPO" [class.desligado]="!showPO" src="/assets/img/po-emitido.png"
                                                    alt="PO Emitida" class="max-w-50 radius" #tooltip="matTooltip"
                                                    matTooltip="PO Emitida" style="border-color: #00B247" />
                                            </a>
                                            <a (click)="showRecebido = !showRecebido; filtrar();" style="margin-right: 20px; margin-left: 10px">
                                                <img [class.ligado]="showRecebido" [class.desligado]="!showRecebido"
                                                    src="/assets/img/recebido.png" alt="Recebido" class="max-w-50 radius"
                                                    #tooltip="matTooltip" matTooltip="Recebido" style="border-color: #00892C" />
                                            </a>
                                            <a (click)="showExcluida = !showExcluida; filtrar();" style="margin-right: 20px; margin-left: 10px">
                                                <img [class.ligado]="showExcluida" [class.desligado]="!showExcluida"
                                                    src="/assets/img/lixeira.png" alt="Excluida" class="max-w-50 radius"
                                                    #tooltip="matTooltip" matTooltip="Excluida" style="border-color: #000000" />
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <span>Período de Inclusão</span>
                                        <div style="margin-top: 20px; margin-bottom: 20px;">
                                            <my-date-range-picker name="mydaterange" [options]="myDateRangePickerOptions"
                                                [(ngModel)]="periodoInclusao" (dateRangeChanged)="filtrar($event, 'inclusao')"
                                                (calendarCleared)="limparDataInclusao()" required></my-date-range-picker>
                                        </div>
                                    </div>
                                    <div class="col md-6">
                                        <span>Período da Última Alteração</span>
                                        <div style="margin-top: 20px; margin-bottom: 20px;">
                                            <my-date-range-picker name="mydaterange" [options]="myDateRangePickerOptions"
                                                [(ngModel)]="periodoAlteracao" (dateRangeChanged)="filtrar($event, 'alteracao')"
                                                (calendarCleared)="limparDataAlteracao()" required></my-date-range-picker>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col md-12">
                                        <span>Departamento</span>
                                        <div style="margin-top: 20px; margin-bottom: 20px;">
                                            <select [(ngModel)]="departamento" (change)="filtrar()">
                                                <option [ngValue]="undefined"> Todos os departamentos </option>
                                                <option *ngFor="let dpto of departamentos" [value]="dpto.nome">
                                                    {{dpto.nome}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col md-12">
                                        <span>Comprador</span>
                                        <div style="margin-top: 20px; margin-bottom: 20px;">
                                            <select [(ngModel)]="comprador" (change)="filtrar()">
                                                <option [ngValue]="undefined"> Todos os compradores </option>
                                                <option *ngFor="let comp of compradores" [value]="comp.nome">
                                                    {{comp.nome}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col md-6">
                                        <span>Menor Valor Inicial</span>
                                        <div style="margin-top: 20px; margin-bottom: 20px;">
                                            <input type="text" [(ngModel)]="valorInicial" (keyup)="filtrar()">
                                            <a (click)="valorInicialRegra == 'maior-que' ? valorInicialRegra = 'menor-que' : valorInicialRegra = 'maior-que'"
                                                class="change">
                                                <i class="zmdi zmdi-upload" *ngIf="valorInicialRegra == 'maior-que'"
                                                    #tooltip="matTooltip" matTooltip="Maior que"></i>
                                                <i class="zmdi zmdi-download" *ngIf="valorInicialRegra == 'menor-que'"
                                                    #tooltip="matTooltip" matTooltip="Menor que"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col md-6">
                                        <span>Valor Negociado</span>
                                        <div style="margin-top: 20px; margin-bottom: 20px;">
                                            <input type="text" [(ngModel)]="valorNegociado" (keyup)="filtrar()">
                                            <a (click)="valorNegociadoRegra == 'maior-que' ? valorNegociadoRegra = 'menor-que' : valorNegociadoRegra = 'maior-que'"
                                                class="change">
                                                <i class="zmdi zmdi-upload" *ngIf="valorNegociadoRegra == 'maior-que'"
                                                    #tooltip="matTooltip" matTooltip="Maior que"></i>
                                                <i class="zmdi zmdi-download" *ngIf="valorNegociadoRegra == 'menor-que'"
                                                    #tooltip="matTooltip" matTooltip="Menor que"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col md-12">
                                        <span>Fornecedor</span>
                                        <div style="margin-top: 20px; margin-bottom: 20px;">
                                            <select [(ngModel)]="fornecedor" (change)="filtrar()">
                                                <option [ngValue]="undefined"> Todos os Fornecedores </option>
                                                <option *ngFor="let forn of fornecedores" [value]="forn.id">
                                                    {{forn.nome}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <span style="padding: 20px; ">Escolha as colunas a serem exibidas</span>
                                <div class="col-md-12" style="margin-top: 20px; margin-bottom: 20px;">
                                    <div class="col-md-1">
                                        <mat-checkbox class="example-margin" [(ngModel)]="showNumero">Número</mat-checkbox>
                                    </div>
                                    <div class="col-md-1">
                                        <mat-checkbox class="example-margin" [(ngModel)]="showDataInclusao">Data
                                            Criação</mat-checkbox>
                                    </div>
                                    <div class="col-md-1">
                                        <mat-checkbox class="example-margin" [(ngModel)]="showDataRecebimento">Data
                                            Recebimento</mat-checkbox>
                                    </div>
                                    <div class="col-md-1">
                                        <mat-checkbox class="example-margin" [(ngModel)]="showTipo">Tipo</mat-checkbox>
                                    </div>
                                    <div class="col-md-1">
                                        <mat-checkbox class="example-margin" [(ngModel)]="showCategoria">Categoria</mat-checkbox>
                                    </div>
                                    <div class="col-md-1">
                                        <mat-checkbox class="example-margin" [(ngModel)]="showFornecedor">Fornecedor</mat-checkbox>
                                    </div>
                                    <div class="col-md-1">
                                        <mat-checkbox class="example-margin" [(ngModel)]="showValorInicial">Menor Valor
                                            Inicial</mat-checkbox>
                                    </div>
                                    <div class="col-md-1">
                                        <mat-checkbox class="example-margin" [(ngModel)]="showValorNegociado">Valor
                                            Negociado</mat-checkbox>
                                    </div>
                                    <div class="col-md-1">
                                        <mat-checkbox class="example-margin" [(ngModel)]="showNumeroPO">Número da PO</mat-checkbox>
                                    </div>
                                    <div class="col-md-1">
                                        <mat-checkbox class="example-margin" [(ngModel)]="showSolicitante">Solicitante</mat-checkbox>
                                    </div>
                                    <div class="col-md-1">
                                        <mat-checkbox class="example-margin" [(ngModel)]="showDepartamento">Departamento</mat-checkbox>
                                    </div>
                                    <div class="col-md-1">
                                        <mat-checkbox class="example-margin" [(ngModel)]="showStatus">Status</mat-checkbox>
                                    </div>
                                    <div class="col-md-1">
                                        <mat-checkbox class="example-margin" [(ngModel)]="showComprador">Comprador</mat-checkbox>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <footer style="min-height: 90px;" *ngIf="!hideFilter">
                    <button class="btn btn-accent d-print-none btn-esq" (click)="makeReport()">
                        <i class="zmdi zmdi-grid"></i> Exportar
                    </button>
                </footer>
            </div>
            <div class="card card-datatable">
                <header class="card-header p-30">
                    <h2 class="card-title">Solicitações Recusadas</h2>
                </header>
                <div class="card-block p-0"> 
                    <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType"></canvas>
                </div>
                <div class="card-footer">
                    
                </div>
            </div>
            <div class="card card-datatable">
                <header class="card-header p-30">
                    <h2 class="card-title">Solicitações Filtradas</h2>
                </header>
                <div class="card-block p-0" *ngIf="rows && rows.length > 0">
                    <ngx-datatable #table style="width: 100%" class="material" [rows]="rows" [columnMode]="'force'"
                        [headerHeight]="50" [rowHeight]="'auto'" [limit]="15">
                        <ngx-datatable-column name="Numero" [width]="showNumero ? 150 : 0" *ngIf="showNumero">
                            <ng-template let-row="row" style="text-align: center;" ngx-datatable-cell-template>
                                <div *ngIf="showNumero">
                                    {{row.numero}}
                                </div>
                            </ng-template>
                        </ngx-datatable-column>

                        <ngx-datatable-column name="Categoria" *ngIf="showCategoria">
                            <ng-template let-row="row" style="text-align: center;" ngx-datatable-cell-template>
                                <div *ngIf="showCategoria">
                                    {{row.material}}
                                </div>
                            </ng-template>
                        </ngx-datatable-column>

                        <ngx-datatable-column name="Tipo" *ngIf="showTipo">
                            <ng-template let-row="row" style="text-align: center;" ngx-datatable-cell-template>
                                <div *ngIf="showTipo">
                                    {{row.tipoDeMaterial}}
                                </div>
                            </ng-template>
                        </ngx-datatable-column>

                        <ngx-datatable-column name="Solicitante" *ngIf="showSolicitante">
                            <ng-template let-row="row" style="text-align: center;" ngx-datatable-cell-template>
                                <div *ngIf="showSolicitante">
                                    {{row.solicitante}}
                                </div>
                            </ng-template>
                        </ngx-datatable-column>

                        <ngx-datatable-column name="Departamento" *ngIf="showDepartamento">
                            <ng-template let-row="row" style="text-align: center;" ngx-datatable-cell-template>
                                <div *ngIf="showDepartamento">
                                    {{row.departamento}}
                                </div>
                            </ng-template>
                        </ngx-datatable-column>

                        <ngx-datatable-column name="Inclusão" *ngIf="showDataInclusao">
                            <ng-template let-row="row" style="text-align: center;" ngx-datatable-cell-template>
                                <div *ngIf="showDataInclusao">
                                    {{row.inclusao.toDate() | date: 'd/M/yy'}}
                                </div>
                            </ng-template>
                        </ngx-datatable-column>

                        <ngx-datatable-column name="Alteração" prop="alteracao" *ngIf="showDataRecebimento">
                            <ng-template let-row="row" style="text-align: center;" ngx-datatable-cell-template>
                                <div *ngIf="showDataRecebimento">
                                    <span *ngIf="row.alteracao">{{row.alteracao.toDate() | date: 'd/M/yy'}}</span>
                                    <span *ngIf="!row.alteracao">-----</span>
                                </div>
                            </ng-template>
                        </ngx-datatable-column>

                        <ngx-datatable-column name="Status" *ngIf="showStatus">
                            <ng-template let-row="row" style="text-align: center;" ngx-datatable-cell-template>
                                <div *ngIf="showStatus">
                                    <img src="/assets/img/{{row.img}}" alt="{{row.alt}}" class="max-w-50 radius"
                                        #tooltip="matTooltip" [matTooltip]="row.alt" />
                                </div>
                            </ng-template>
                        </ngx-datatable-column>

                        <ngx-datatable-column name="Comprador" *ngIf="showComprador">
                            <ng-template let-row="row" style="text-align: center;" ngx-datatable-cell-template>
                                <div *ngIf="showComprador">
                                    <span *ngIf="row.comprador">{{row.comprador}}</span>
                                    <span *ngIf="!row.comprador">-----</span>
                                </div>
                            </ng-template>
                        </ngx-datatable-column>

                        <ngx-datatable-column prop="fornecedorEscolhido" name="Fornecedor" *ngIf="showFornecedor">
                            <ng-template let-row="row" style="text-align: center;" ngx-datatable-cell-template>
                                <div *ngIf="showFornecedor">
                                    <span *ngIf="row.fornecedorEscolhido">{{resolveFornecedor(row.fornecedorEscolhido)}}</span>
                                    <span *ngIf="!row.fornecedorEscolhido">-----</span>
                                </div>
                            </ng-template>
                        </ngx-datatable-column>

                        <ngx-datatable-column prop="valorInicial" name="Valor Inicial" *ngIf="showValorInicial">
                            <ng-template let-row="row" style="text-align: center;" ngx-datatable-cell-template>
                                <div *ngIf="showValorInicial">
                                    <span *ngIf="row.valorInicial">{{row.valorInicial}}</span>
                                    <span *ngIf="!row.valorInicial">-----</span>
                                </div>
                            </ng-template>
                        </ngx-datatable-column>

                        <ngx-datatable-column prop="valorNegociado" name="Valor Negociado" *ngIf="showValorNegociado">
                            <ng-template let-row="row" style="text-align: center;" ngx-datatable-cell-template>
                                <div *ngIf="showValorNegociado">
                                    <span *ngIf="row.valorNegociado">{{row.valorNegociado}}</span>
                                    <span *ngIf="!row.valorNegociado">-----</span>
                                </div>
                            </ng-template>
                        </ngx-datatable-column>

                        <ngx-datatable-column prop="numeroPO" name="Número da PO" *ngIf="showNumeroPO">
                            <ng-template let-row="row" style="text-align: center;" ngx-datatable-cell-template>
                                <div *ngIf="showNumeroPO">
                                    <span *ngIf="row.numeroPO">{{row.numeroPO}}</span>
                                    <span *ngIf="!row.numeroPO">-----</span>
                                </div>
                            </ng-template>
                        </ngx-datatable-column>
                    </ngx-datatable>
                </div>
            </div>
        </div>
    </div>

</div>
<footer id="footer_wrapper" class="footer_wrapper d-print-none"></footer>