<div fxFlex="100%">
<input type="text" [value]="_value ? _value.name : ''" disabled [style.width]="'88%'"/>
<a class="botao" (click)="fileInput.click()">
  <i class="zmdi zmdi-cloud-upload"></i> Upload
  <input #fileInput type="file" (change)="onFileInput(fileInput.files)" style="display:none;" />
</a>
</div>
