<div class="navbar-form d-print-none" id="navbar_form" [class.open]="searchStatus">
	<div class="form-group">
		<input type="text" placeholder="Search and press enter..."  [(ngModel)]="searchValue" class="form-control" id="navbar_search" >
		<i  (click)="closeSearch()" class="zmdi zmdi-close close-search"></i>
	</div>
	<button type="submit" class="hidden btn btn-default">Submit</button>
</div>
