<div id="content_wrapper" class="fullWidth1-wrapper">
	<div class="content">
		<header class="header-wrapper header-sm">
			<h1>Form Components</h1>
		</header>
		<div class="content-body">
			<div class="row row-eq-height flex-card">
				<div class="col-xl">
					<div class="card">
						<header class="card-header">
							<h2 class="card-title">Inputs with icon prefixes</h2>
						</header>
						<div class="card-block">
							<form class="form-horizontal">
								<div class="form-group row">
									<div class="col-xl">
										<mat-form-field floatPlaceholder="never" class="float-never">
											<input matInput placeholder="Full Name">
											<mat-icon matPrefix>account_box</mat-icon>
										</mat-form-field>
									</div>
								</div>
								<div class="form-group row">
									<div class="col-xl">
										<mat-form-field floatPlaceholder="never" class="float-never">
											<input matInput placeholder="Email Address">
											<mat-icon matPrefix>email</mat-icon>

										</mat-form-field>
									</div>
								</div>
								<div class="form-group row">
									<div class="col-xl">
										<mat-form-field floatPlaceholder="never" class="float-never">
											<input matInput placeholder="Phone Number">
											<mat-icon matPrefix>phone</mat-icon>

										</mat-form-field>
									</div>
								</div>
								<div class="form-group row">
									<div class="col-xl">
										<mat-form-field floatPlaceholder="never" class="float-never">
											<input matInput placeholder="Home Address">
											<mat-icon matPrefix>room</mat-icon>
										</mat-form-field>
									</div>
								</div>
							</form>
						</div>
						<div class="card-footer text-right">
							<a href="javascript:void(0)" mat-ripple class="btn btn-accent btn-flat">Cancel</a>
							<button mat-ripple class="btn btn-accent">Submit</button>
						</div>
					</div>
				</div>
				<div class="col-xl">
					<div class="card">
						<header class="card-header">
							<h2 class="card-title">Icon prefixes with floating labels</h2>
						</header>
						<div class="card-block">
							<form class="form-horizontal">
								<div class="form-group row">
									<div class="col-xl">
										<mat-form-field floatPlaceholder="auto" class="float-auto">
											<input matInput placeholder="Full Name">
											<mat-icon matPrefix>account_box</mat-icon>
										</mat-form-field>
									</div>
								</div>
								<div class="form-group row">
									<div class="col-xl">
										<mat-form-field floatPlaceholder="auto" class="float-auto">
											<input matInput placeholder="Email Address">
											<mat-icon matPrefix>email</mat-icon>

										</mat-form-field>
									</div>
								</div>
								<div class="form-group row">
									<div class="col-xl">
										<mat-form-field floatPlaceholder="auto" class="float-auto">
											<input matInput placeholder="Phone Number">
											<mat-icon matPrefix>phone</mat-icon>

										</mat-form-field>
									</div>
								</div>
								<div class="form-group row">
									<div class="col-xl">
										<mat-form-field floatPlaceholder="auto" class="float-auto">
											<input matInput placeholder="Home Address">
											<mat-icon matPrefix>room</mat-icon>
										</mat-form-field>
									</div>
								</div>
							</form>
						</div>
						<div class="card-footer text-right">
							<a href="javascript:void(0)" mat-ripple class="btn btn-info btn-flat">Cancel</a>
							<button mat-ripple class="btn btn-info">Submit</button>
						</div>
					</div>
				</div>
				<div class="col-xl">
					<div class="card">
						<header class="card-header">
							<h2 class="card-title">Icon prefixes with button suffix</h2>
						</header>
						<div class="card-block">
							<form class="form-horizontal">
								<div class="form-group row">
									<div class="col-xl">
										<mat-form-field floatPlaceholder="auto" class="float-auto">
											<input matInput placeholder="Full Name">
											<mat-icon matPrefix>account_box</mat-icon>
											<button mat-ripple matSuffix type="button" class="btn btn-default btn-fab animate-fab btn-fab-sm btn-suffix">
												<i class="zmdi zmdi-mail-send"></i>
											</button>
										</mat-form-field>
									</div>
								</div>
								<div class="form-group row">
									<div class="col-xl">
										<mat-form-field floatPlaceholder="auto" class="float-auto">
											<input matInput placeholder="Email Address">
											<mat-icon matPrefix>email</mat-icon>
											<button mat-ripple matSuffix type="button" class="btn btn-accent btn-fab animate-fab btn-fab-sm btn-suffix">
												<i class="zmdi zmdi-mail-send"></i>
											</button>
										</mat-form-field>
									</div>
								</div>
								<div class="form-group row">
									<div class="col-xl">
										<mat-form-field floatPlaceholder="auto" class="float-auto">
											<input matInput placeholder="Phone Number">
											<mat-icon matPrefix>phone</mat-icon>
											<button mat-ripple matSuffix type="button" class="btn btn-info btn-fab animate-fab btn-fab-sm btn-suffix">
												<i class="zmdi zmdi-mail-send"></i>
											</button>
										</mat-form-field>
									</div>
								</div>
								<div class="form-group row">
									<div class="col-xl">
										<mat-form-field floatPlaceholder="auto" class="float-auto">
											<input matInput placeholder="Home Address">
											<mat-icon matPrefix>room</mat-icon>
											<button mat-ripple matSuffix type="button" class="btn btn-primary btn-fab animate-fab btn-fab-sm btn-suffix">
												<i class="zmdi zmdi-mail-send"></i>
											</button>
										</mat-form-field>
									</div>
								</div>
							</form>
						</div>
						<div class="card-footer text-right">
							<a href="javascript:void(0)" mat-ripple class="btn btn-default btn-flat">Cancel</a>
						</div>
					</div>
				</div>
			</div>
			<div class="row row-eq-height flex-card">
				<div class="col-xl">
					<div class="card">
						<header class="card-header">
							<h2 class="card-title">Toggle</h2>
						</header>
						<div class="card-block">
							<p>
								A toggle switch is used as an on/off control.
							</p>
							<section class="example-section">
								<label class="example-margin">Color:</label>
								<mat-radio-group [(ngModel)]="color">
									<mat-radio-button class="example-margin" value="primary">
										Primary
									</mat-radio-button>
									<mat-radio-button class="example-margin" value="accent">
										Accent
									</mat-radio-button>
									<mat-radio-button class="example-margin" value="warn">
										Warn
									</mat-radio-button>
								</mat-radio-group>
							</section>

							<section class="example-section">
								<mat-checkbox class="example-margin" [(ngModel)]="checked">Checked</mat-checkbox>
							</section>

							<section class="example-section">
								<mat-checkbox class="example-margin" [(ngModel)]="disabled">Disabled</mat-checkbox>
							</section>
						</div>
						<div class="card-footer">
							<h2 class="example-h2">Result</h2>
							<section class="example-section">
								<mat-slide-toggle class="example-margin" [color]="color" [checked]="checked" [disabled]="disabled">
									Slide me!
								</mat-slide-toggle>
							</section>
						</div>
					</div>
				</div>
				<div class="col-xl">
					<div class="card">
						<header class="card-header">
							<h2 class="card-title">Character count</h2>
						</header>
						<div class="card-block">
							<p>
								This demonstrates using Angular for a live character count within an input and textarea.
							</p>
							<form class="form-horizontal">
								<div class="form-group row m-b-40">

									<div class="col-xl">

										<mat-form-field floatPlaceholder="auto" class="float-auto">
											<input matInput #characterCountInputHintExample placeholder="Character count (100 max)" maxLength="100">
											<mat-hint align="end" aria-live="polite">
												{{characterCountInputHintExample.value.length}} / 100
											</mat-hint>
										</mat-form-field>
									</div>
								</div>
								<div class="form-group row">
									<div class="col-xl">

										<mat-form-field floatPlaceholder="auto" class="float-auto">
											<textarea matInput #characterCountTextareaHintExample placeholder="Character count (100 max)" maxLength="100"></textarea>
											<mat-hint align="end" aria-live="polite">
												{{characterCountTextareaHintExample.value.length}} / 100
											</mat-hint>
										</mat-form-field>
									</div>
								</div>
							</form>
						</div>
						<div class="card-footer">
						</div>
					</div>
				</div>
				<div class="col-xl">
					<div class="card">
						<header class="card-header">
							<h2 class="card-title">Input File Upload</h2>
						</header>
						<div class="card-block">
							<form action="#" enctype="multipart/form-data" class="upload-form form-horizontal">
								<div class="form-group fileinput">
									<div class="input-group">
										<input type="file" class="form-control" placeholder="File Upload...">
										<div class="input-group">
											<input type="text" readonly="" class="form-control read-only" placeholder="Placeholder w/file chooser...">
											<span class="input-group-btn input-group-sm">
												<button type="button" class="btn btn-info btn-fab btn-fab-sm">
													<i class="zmdi zmdi-attachment-alt"></i>
												</button>
											</span>
										</div>
									</div>
								</div>
								<div class="form-group fileinput">
									<div class="input-group">
										<input type="file" class="form-control" placeholder="File Upload...">
										<div class="input-group">
											<input type="text" readonly="" class="form-control read-only" placeholder="Placeholder w/file chooser...">
											<span class="input-group-btn input-group-sm">
												<button type="button" class="btn btn-accent btn-fab btn-fab-sm">
													<i class="zmdi zmdi-attachment-alt"></i>
												</button>
											</span>
										</div>
									</div>
								</div>
								<div class="form-group fileinput">
									<div class="input-group">
										<input type="file" class="form-control" placeholder="File Upload...">
										<div class="input-group">
											<input type="text" readonly="" class="form-control read-only" placeholder="Placeholder w/file chooser...">
											<span class="input-group-btn input-group-sm">
												<button type="button" class="btn btn-primary btn-sm">
													File
												</button>
											</span>
										</div>
									</div>
								</div>
							</form>
						</div>
						<div class="card-footer">
						</div>
					</div>
				</div>
			</div>
			<div class="row row-eq-height flex-card">
				<div class="col-xl">
					<div class="card">
						<header class="card-header">
							<h2 class="card-title">Material Date Picker</h2>
						</header>
						<div class="card-block">
							<mat-form-field>
								<input matInput [matDatepicker]="picker1" placeholder="Choose a date">
								<mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
								<mat-datepicker #picker1></mat-datepicker>
							</mat-form-field>
						</div>
					</div>
				</div>
				<div class="col-xl">
					<div class="card">
						<header class="card-header">
							<h2 class="card-title">Datepicker touch UI</h2>
						</header>
						<div class="card-block">
							<mat-form-field class="example-full-width">
								<input matInput [matDatepicker]="picker2" placeholder="Choose a date">
								<mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
								<mat-datepicker touchUi="true" #picker2></mat-datepicker>
							</mat-form-field>
						</div>
					</div>
				</div>
				<div class="col-xl">
					<div class="card">
						<header class="card-header">
							<h2 class="card-title">Datepicker open method</h2>
						</header>
						<div class="card-block">
							<mat-form-field class="example-full-width">
								<input matInput [matDatepicker]="picker3" placeholder="Choose a date">
								<mat-datepicker #picker3></mat-datepicker>
							</mat-form-field>
							<button mat-raised-button (click)="picker3.open()">Open</button>
						</div>
					</div>
				</div>
			</div>
			<div class="row row-eq-height">
				<div class="col-xl">
					<div class="card">
						<header class="card-header">
							<h2 class="card-title">Autocomplete</h2>
						</header>
						<div class="card-block">
							<div class="row">
								<div class="col-xl">
									<div class="card card-transparent">
										<div class="card-block">

											<p>Reactive length: {{ reactiveStates.length }} <br/> Reactive value: {{ stateCtrl.value | json }}</p>
											<p>Reactive dirty: {{ stateCtrl.dirty }}</p>
											<mat-form-field floatPlaceholder="never">
												<input matInput placeholder="State" [matAutocomplete]="reactiveAuto" [formControl]="stateCtrl">
											</mat-form-field>
										</div>

										<div class="card-footer">
											<button mat-button (click)="stateCtrl.reset()">RESET</button>
											<button mat-button (click)="stateCtrl.setValue(states[10])">SET VALUE
											</button>
											<button mat-button (click)="stateCtrl.enabled ? stateCtrl.disable() : stateCtrl.enable()">
												TOGGLE DISABLED
											</button>
										</div>
									</div>
								</div>
								<div class="col-xl">
									<div class="card card-transparent">
										<div class="card-block">
											<p>Template-driven value (currentState): {{ currentState }}</p>

											<mat-form-field *ngIf="true">
												<input matInput placeholder="State" [matAutocomplete]="tdAuto" [(ngModel)]="currentState" (ngModelChange)="tdStates = filterStates(currentState)" [disabled]="tdDisabled">
											</mat-form-field>
										</div>

										<div class="card-footer">
											<button mat-button (click)="modelDir.reset()">RESET</button>
											<button mat-button (click)="currentState='California'">SET VALUE</button>
											<button mat-button (click)="tdDisabled=!tdDisabled">
												TOGGLE DISABLED
											</button>
										</div>
									</div>
								</div>
							</div>
							<mat-autocomplete #reactiveAuto="matAutocomplete" [displayWith]="displayFn">
								<mat-option *ngFor="let state of reactiveStates | async" [value]="state">
									<span>{{ state.name }}</span>
									<span class="demo-secondary-text"> ({{state.code}}) </span>
								</mat-option>
							</mat-autocomplete>
							<mat-autocomplete #tdAuto="matAutocomplete">
								<mat-option *ngFor="let state of tdStates" [value]="state.name">
									<span>{{ state.name }}</span>
								</mat-option>
							</mat-autocomplete>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xl">
					<div class="card">
						<header class="card-header">
							<h2 class="card-title">Input Mask</h2>
						</header>
						<div class="card-block">
							<form class="form-horizontal">
								<div class="form-group">
									<label for="1" class="col-xl-4 control-label">Masked Input using
										<code>NgModel</code></label>
										<div class="col-xl-8 input-group">
											<input id="1" name="phone" [(ngModel)]="myModel" [textMask]="{mask: mask}" type="text" class="form-control" />
											<span class="input-group-addon">Model value: {{myModel || "[empty]"}}</span>
										</div>
									</div>
									<div class="form-group">
										<label for="2" class="col-xl-4 control-label">
											Masked Input using <code>NgModel</code> with initial value
										</label>
										<div class="col-xl-8 input-group">
											<input id="2" name="phoneWithValue" [(ngModel)]="modelWithValue" [textMask]="{mask: mask}" type="text" class="form-control" />
											<span class="input-group-addon">Model value: {{modelWithValue || "[empty]"}}</span>
										</div>
									</div>
									<div class="form-group">
										<label for="3" class="col-xl-4 control-label">
											Masked Input using <code>FormControl</code> with initial value
										</label>
										<div class="col-xl-8 input-group">
											<input id="3" name="phoneFormControl" [formControl]='formControlInput' [textMask]="{mask: mask}" type="text" class="form-control" />
											<span class="input-group-addon">Model value: {{formControlInput.value || "[empty]"}}</span>
										</div>
									</div>
								</form>
							</div>
							<div class="card-footer">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<footer id="footer_wrapper" class="footer_wrapper"></footer>
