<div class="footer-content">
	<div class="row">
		
		<div class="row copy-wrapper">
			<div class="col-xs-8">
				<p class="copy">&copy; Copyright <time class="year">2019</time> SMR Automotive - Todos os direitos reservados.<br>Desenvolvido pela Agência Onda Forte.</p>
			</div>
			<div class="col-xs-4">
				<ul class="social">
					<li>
						<a href="javascript:void(0)"> </a>
					</li>
					<li>
						<a href="javascript:void(0)"> </a>
					</li>
					<li>
						<a href="javascript:void(0)"> </a>
					</li>
					<li>
						<a href="javascript:void(0)"> </a>
					</li>
				</ul>
			</div>
		</div>
	</div>
