<div id="login_wrapper">
    <div class="logo">
        <img src="assets/img/logotipo-smr-automotive.png" alt="logo" class="logo-img">
    </div>
    <section id="login_content">
        <h1 class="login-title">
            iPurchase
        </h1>
        <div class="login-body">
            <form class="form-horizontal">
                <div class="form-group row">
                    <label class="sr-only">Email: </label>
                    <div class="col-md">
                        <mat-form-field floatPlaceholder="auto" class="float-auto">
                            <input matInput placeholder="Email" class="form-control" type="email" #email>
                        </mat-form-field>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="sr-only">Senha: </label>
                    <div class="col-md">
                        <mat-form-field floatPlaceholder="auto" class="float-auto">
                            <input matInput placeholder="Senha" class="form-control" type="password" #pwd>
                        </mat-form-field>
                    </div>
                </div>
                <a (click)="reset(email.value)" class="forgot-pass float-right">Perdeu sua senha?</a>
                <a class="btn btn-primary btn-block m-t-40" (click)="login(email.value, pwd.value)" style="color: #fff;">Entrar</a>
            </form>
        </div>
    </section>
</div>
