.push {
    width: 350px;
    height: 150px;
    border: 1px solid #D20202;
    border-radius: 5px;
    position: fixed;
    bottom: 15px;
    right: 15px;
    background-color: #ffffff;
    z-index: 100000;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.titulo {
    width: 100%;
    background-color: #D20202;
    color: #ffffff;
    font-size: 16px;
    font-weight: bolder;
    padding: 15px;
}

.corpo {
    padding: 15px;
}

.fechar{
    position: absolute;
    cursor: pointer;
    right: 20px;
}