<div class="push">
  <div class="titulo"> 
    <i class="zmdi zmdi-notifications"></i> 
    {{message?.notification.title}} 
    <a class="fechar" (click)="close()"><i class="zmdi zmdi-close"></i> </a>
  </div><a [href]="message.notification.click_action">
  <div class="corpo" [innerHTML]="message.notification.body">  </div></a>
</div>
