/*------------------------------------------------------------------------------
  MaterialWrap - Angular 5
------------------------------------------------------------------------------*/
//== mixins
@import '../node_modules/compass-mixins/lib/animate';
//== Vendor
@import '../node_modules/multi-brand-colors/dist/scss/index.scss';
@import '../node_modules/@mdi/font/css/materialdesignicons.css';
@import '../node_modules/material-design-iconic-font/dist/css/material-design-iconic-font.css';
@import "~@ng-select/ng-select/themes/material.theme.css";
//== App
@import "./app/shared/styles/app";
.radius{border-radius: 100px;}
.mat-checkbox-frame{background-color: #f2f2f2 !important;}
#footer_wrapper .footer-content {
  padding: 20px 30px 20px !important;
}
