<div id="content_wrapper" class="fullWidth1-wrapper">
    <div class="content">
      <header class="header-wrapper header-sm">
        <h1>Programas</h1>
      </header>
      <div class="content-body">
        <div class="card card-datatable">
          <header class="card-header p-30">
            <div class="selected-toolbar" [ngClass]="{'active' : isToolbarActive}">
              <mat-toolbar class="activeHeaderColor">
                <span>{{itemCount}} {{itemsSelected}}</span>
                <span class="demo-fill-remaining"></span>
                <button mat-icon-button (click)="remove()">
                  <mat-icon class="md-24">delete</mat-icon>
                </button>
              </mat-toolbar>
            </div>
            <h2 class="card-title">Programa</h2>
            <ul class="actions icons top-right">
              <li>
                <a href="javascript:void(0)" (click)="isSearchActive = !isSearchActive;">
                  <i class="zmdi zmdi-search"></i>
                </a>
              </li>
  
            </ul>
            <ul class="actions fab bottom-right">
              <li>
                <button class="btn btn-accent btn-fab" mat-ripple (click)="add()">
                  <i class="zmdi zmdi-plus"></i>
                </button>
              </li>
            </ul>
          </header>
          <div class="card-block p-0">
            <div class="data-filter-wrapper" [ngClass]="{'active' : isSearchActive}">
              <i class="zmdi zmdi-search search filter-icons"></i>
              <input type='text' class='data-filter' placeholder='Digite o nome do programa...' (keyup)='updateFilter($event)'
                [(ngModel)]="searchValue" />
              <a href="javascript:void(0)" class="close filter-icons" (click)="triggerClose($event)">
                <i class="zmdi zmdi-close"></i>
              </a>
            </div>
            <ngx-datatable #table style="width: 100%" class="material" [rows]="rows" [columnMode]="'force'"
              [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [limit]="15" [selected]="selected"
              [selectionType]="'checkbox'" (activate)="onActivate($event)" (select)='onSelect($event)'>
  
              <ngx-datatable-column [width]="60" [sortable]="false" [canAutoResize]="false" [draggable]="false"
                [resizeable]="false">
                <ng-template ngx-datatable-header-template let-value="value" let-allRowsSelected="allRowsSelected"
                  let-selectFn="selectFn">
                  <mat-checkbox class="example-margin" [checked]="allRowsSelected" (change)="selectFn(!allRowsSelected)"></mat-checkbox>
                </ng-template>
                <ng-template ngx-datatable-cell-template let-value="value" let-isSelected="isSelected"
                  let-onCheckboxChangeFn="onCheckboxChangeFn">
                  <mat-checkbox class="example-margin" [checked]="isSelected" (change)="onCheckboxChangeFn($event)"></mat-checkbox>
                </ng-template>
              </ngx-datatable-column>
  
              <ngx-datatable-column name="Nome do Programa" prop="nome">
                <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                  <span title="Duplo clique para editar" (dblclick)="editing[rowIndex + '-nome'] = true" *ngIf="!editing[rowIndex + '-nome'] && value">
                    {{value}}
                  </span>
                  <span title="Duplo clique para editar" (dblclick)="editing[rowIndex + '-nome'] = true" *ngIf="!editing[rowIndex + '-nome'] && !value"
                    class="placeholder">
                    Categoria
                  </span>
                  <input autofocus (keydown.enter)="updateValue($event, 'nome', rowIndex)" (blur)="updateValue($event, 'nome', rowIndex)"
                    *ngIf="editing[rowIndex+ '-nome']" type="text" [value]="value" [class.untouched]="!nome.touched"
                    #nome />
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>
          </div>
        </div>
      </div>
    </div>
  
  </div>
  <footer id="footer_wrapper" class="footer_wrapper"></footer>